{%if post.is_public %}
    <div class="post_card">
        {% if post.image != "../static/image/default_image.PNG" %}
        <a class="post_image" href="{% url 'posts:post_detail' user_id=post.user.id post_id=post.id %}">
            <div class="post_image_container">
                    <img src="{{post.image.url}}" alt="" class="post_image_container">
            </div>
        </a>
        {% else %}
        <div>
        </div>
        {% endif %}
        <div class="post_element">
            <a class="post_link" href="{% url 'posts:post_detail' user_id=post.user.id post_id=post.id %}">
                {% if post.image != "../static/image/default_image.PNG" %}
                    <div class="post_title">
                        {{ post.title|truncatechars:24 }}
                    </div>
                    <p class="post_desc">
                        {{ post.desc|truncatechars:50|striptags|cut:"&nbsp;"}}
                        <span class="desc_image">{{post.desc.image}}</span>
                    </p>
                {% else %}
                    <div class="post_title_img_none">
                        {{ post.title|truncatechars:26 }}
                    </div>
                    <p class="post_desc_img_none">
                        {{ post.desc|truncatechars:150|striptags|cut:"&nbsp;"}}
                        <span class="desc_image">{{post.desc.image}}</span>
                    </p>
                {% endif %}
            </a>
        </div>
        <div class="line_flex">
            <div class="post_user_line"></div>
        </div>
        <div class="post_user">
            <a href="{% url 'users:my_page' post.user.id %}" class="user_info">
                {% if post.user.user_profile_image %}
                <img src="{{post.user.user_profile_image.url}}" class="user_info_image">
                {% endif %}
                <div class="user_info_left">
                    <p>

                    </p>
                    <span class="comments">
                        댓글 {{post.comments.count}}개
                    </span>
                    <span class="username">
                        by {{post.user.user_nickname}}
                    </span>
                </div>
            </a>
            <div class="likes">
                <div class="likes_flex">
                    <p>
                        퍼가기
                    </p>
                    <div class="scrap_num">
                        {{post.scrap_num}}
                    </div>
                </div>
                <div class="likes_flex">
                    <p>
                        도움
                    </p>
                    <div class="helped_num">
                        {{post.helped_num}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
{%endif%}
