{% extends 'base.html' %}

{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
<script src="{% static 'js/infinite.js' %}"></script>
{% endblock %}

{% block content %}

<div class="main_container">
    <div class="service_desc">
        <div class="desc">
            <h1>개발자들을 위한</h1>
            <h1>삽질 기록 질문 커뮤니티</h1>
            <h3>
                삽질을 안해본 개발자는 없고 기록을 안하는 개발자는 많다! 
                이젠 삽질모음에 체계적으로 개발에서 겪은 어려움을 정리하고 공유하며 함께 성장해보세요.
            </h3>
        </div>
        <div class="desc_card" >
            <img src="{% static 'image/roll_1.jpg' %}" id="roll">
            <div id="changeText"></div>
                <h3>자바스크립트 잡히지 않는 비동기</h3>
                <h4>Uncaught TypeError: Cannot read property 'addEventListener' of null at anonymous 
                    addEventListener는 HTML DOM의 method 중 하나이기 때문에 객체 요소가 반드시 필요하다. ...
                </h4>
            </div>
        </div>
    </div>
    <div class="card_container">
        <div class="link_flex">
            <div class="link_list">
                {% if user.is_authenticated %}
                    <a class="scrap" href="{% url 'posts:main' %}"  onclick="a()">스크랩</a>
                    <a class="helped" href="{% url 'posts:helped' %}" id="helped" href="#"  onclick="b()">도움</a>
                    <a class="recent" href="{% url 'posts:my_recent' %} "  onclick="c()" style="color: #00537A;">내 최신순</a>
                    <a class="follow" href="{% url 'posts:follow' %}"  onclick="d()">이웃</a>
                {% else %}
                    <a class="scrap" href="{% url 'posts:main' %}"  onclick="a()">스크랩</a>
                    <a class="helped" href="{% url 'posts:helped' %}" id="helped" href="#"  onclick="b()">도움</a>
                {% endif %}
            </div>
        </div>
        <div class="post_container" id="scroll-element">
                {% include 'posts/_posts.html' with posts=posts %}
        </div>
        <div id="bottom-sentinel"></div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let bottomSentinal = document.querySelector("#bottom-sentinel");
        let scrollElement = document.querySelector("#scroll-element");
        let baseUrl = "{% url 'posts:my_recent_axios' %}";
        attachInfiniteScroll(bottomSentinal, scrollElement, baseUrl);
    })
</script>
<script>
    var title = ["파이썬 범위 에러", "자바 직렬화 에러","자바스크립트 잡히지 않는 비동기"];
    var desc = [`IndexError: list index out of range 
    범위를 벗어난 index에 접근하려하는 경우 발생하는 오류`,`nvalidClassException
    직렬화 런타임이, 클래스에 도착해 다음의 문제의 어떤 것인지를 검출했을 때에 슬로우 됩니다`];
    var counter = 0;
    var inst = setInterval(change, 2000);

    function change() {
    document.getElementById("changeText").innerHTML = 
    "<h3>"+text[counter]+"</h3>"
    "<h4>"+desc[counter]+"</h4>";
    counter++;
    if (counter >= text.length) {
        counter = 0;
        };
    };
    </script>
    <script>
        $(document).ready(function(){
            var roll =1;
            setInterval(function(){
                roll++;
                if(roll>4){roll=1;}
                $("#roll").attr("src","image/roll_"+roll+".jpg");
            },2000);
        });
    </script>
{% endblock %}