{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<!-- axios cdn -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

//const requestLike = new XMLHttpRequest();

//const onClickLikeScrap = (id, type) => { //함수정의 : 어떤 게시글인지 . 버튼 타입을 받아온다.
    //const url = '/posts/count_like_scrap/'; //어느 url로 요청할 것인지.
  //  requestLike.open('POST', url, true); //post방식으로 이 url에 ajax방식으로 요청을보내는데, 
   // requestLike.setRequestHeader( // requestheader로 이 요청을 보낸다. 자세한건 나중에
     //   'Content-Type',
       // 'application/x-www-form-urlencoded'
    //);
  //  requestLike.send(JSON.stringify({id: id, type: type})); //요청할 때 필요한 정보들. ajax방식으로 할 땐 무.조.건 JSON방식으로 보내야함.
//};

//const likeHandleResponse = () => {  //응답 처리해주는 함수 ( 숫자 +1되는 처리)
  //  if (requestLike.status < 400) {
    //    const {id, type} = JSON.parse(requestLike.response);    // {'id': 1, 'type': 'like'}
      //  const element = document.querySelector(`.post_${id} .post__${type}`);
        //const originHTML = element.innerHTML;
//        const [buttonType, helped_num] = originHTML.split(' ');  // ['Like', '0']
  //      const count = Number(helped_num) + 1;
//
  //      element.innerHTML = `${buttonType} ${count}`;
    //}
//};

//requestLike.onreadystatechange = () => {
  //  if (requestLike.readyState === XMLHttpRequest.DONE) {
    //    likeHandleResponse();
   // }
//};

const requestComment = new XMLHttpRequest();

const onClickComment = (id) =>{
    const url = '/comments/comment/';
    requestComment.open('POST', url, true);
    requestComment.setRequestHeader(
        'Content-Type',
        'application/x-www-form-urlencoded'
    );
    const text = document.querySelector(`.comment_input`).value;
    requestComment.send(JSON.stringify({id:id, text:text}));
    console.log(requestComment);
};

const commentHandleResponse = () =>{
    if(requestComment.status < 400){
        const {id} = JSON.parse(requestComment.response);
        const {text} = JSON.parse(requestComment.response);
        const {comment_id} = JSON.parse(requestComment.response);
        const addComment= document.querySelector(`.addComment`)
    addComment.innerHTML += `
        <div class='comment_id_${comment_id}'>
            <div class="comment_text">
                ${text}
            </div>
            <div class="delete_btn">
                <button onclick="onClickDelete(${id}, ${comment_id})">삭제</button>
            </div>
        </div>
    `
    const cmt_input = document.querySelector('.comment_input');
    cmt_input.value = null
    };
    
};

requestComment.onreadystatechange = () =>{
    if(requestComment.readyState  === XMLHttpRequest.DONE){
        commentHandleResponse();
    };      
};

const requestDelComment = new XMLHttpRequest();

const onClickDelete = (id,comment_id) =>{
    const url ='/comments/delete_comment/';
    requestDelComment.open('POST',url,true);
    requestDelComment.setRequestHeader(
        'Content-Type',
        'application/x-www-form-urlencoded'
    );
    
    requestDelComment.send(JSON.stringify({id:id, comment_id:comment_id}));
};

const commentdelHandleResponse = () =>{
    if(requestDelComment.status<400){
        const {id} = JSON.parse(requestDelComment.response);
        const {comment_id} = JSON.parse(requestDelComment.response);
        console.log(comment_id)
        const element = document.querySelector(`.comment_id_${comment_id}`);
        element.remove();
    };
};

requestDelComment.onreadystatechange = () =>{
    if(requestDelComment.readyState  === XMLHttpRequest.DONE){
        commentdelHandleResponse();
    };      
};
function sendLinkFacebook(){
    var facebook_share_url = "https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}";
    window.open(facebook_share_url,
                'Share on Facebook',
                'scrollbars=no, width=500, height=500');
}    
function sendLinkTwitter(){
    var twitter_share_text="{{ post.title }}";
    var twitter_share_url="{{ request.build_absolute_uri }}";
    window.open("https://twitter.com/share?text="+twitter_share_text+"&url="+twitter_share_url,
                'Share on Twitter',
                'scrollbars=no, width=500, height=500');
}
function sendLinkNaver(){
    var raw_url = "{{ request.build_absolute_uri }}";
    var raw_title = "{{ post.title }}"
    var naver_root_url = "http://share.naver.com/web/shareView.nhn?url="
    var naver_share_url = naver_root_url+encodeURI(raw_url)+"&title="+encodeURI(raw_title);
    window.open(naver_share_url,
                'Share on Naver',
                'scrollbars=no, width=500, height=500');    
}
$(".like").click(function () { // .like 버튼을 클릭 감지
    var pk = $(this).attr('name')
    $.ajax({ // ajax로 서버와 통신 \
        type: "POST", // 데이터를 전송하는 방법 \
        url:"{% url 'posts:post_like' %}", // 통신할 url을 지정 
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 post인지 알 수 있음
        dataType: "json",
        success: function (response) { // 성공;
            $("#count-" + pk).html("도움이되었어요" + response.likes_count + "개"); // 좋아요 개수 변경
        },
        error: function (request, status, error) { // 실패
            window.location.replace('/users/login')// 로그인 페이지로 넘어가기
        },
    });
})

$(".scrap").click(function () { // .scarp 버튼을 클릭 감지
    var pk = $(this).attr('name')
    $.ajax({ // ajax로 서버와 통신 \
        type: "POST", // 데이터를 전송하는 방법 \
        url:"{% url 'posts:post_scrap' %}", // 통신할 url을 지정 
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 post인지 알 수 있음
        dataType: "json",
        success: function (response) { // 성공;
            $("#scarp-" + pk).html("퍼가기" + response.scarps_count + "개"); // 좋아요 개수 변경
        },
        error: function (request, status, error) { // 실패
            window.location.replace('/users/login')// 로그인 페이지로 넘어가기
        },
    });
})


</script>
{% endblock %}

{% block content %}

<div class="container_detail">
    {% if post.image %}
        <img src="{{ post.image.url }}" class="thumbnail_area">
    {% endif %}
    <div class="post_container">
        <div class="post_top">
            <div class="title_area">
                <h1>{{post.title}}</h1>
                <div class="post_user_info">
                    {% if post.user.user_profile_image %}
                        <img src="{{post.user.user_profile_image.url}}">
                    {% endif %}
                    <span>{{post.user.username}}</span>
                </div>
            </div>
            {% if request.user.id == post.user.id %}
                <div class="auth_btn_area">
                    <div class="edit_btn">
                        <a href="{% url 'posts:post_update' post.id %}">수정하기</a>
                    </div>
                    <div class="delete_btn">
                        <a href="{% url 'posts:post_delete' post.id %}">삭제하기</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="category_area">
            <span class="post_language">언어|{{post.language}}</span>
            <span class="folder_name">프레임워크|{{post.framework}}</span>
            <span class="post_os">운영체제|{{post.os}}</span>
            <div class="post_os">에러메시지|{{post.error_message}}</div>
        </div>
        <div class="desc_area">
            {{ post.desc|safe|escape }}
        </div>
        <div class="post_{{post.id}}">
            <div>
                <input type="button" class="btn btn-info btn-sm like" name="{{ post.id }}" value="Like"
                    style="margin-top: 7px">
                <button id="count-{{ post.id }}" style="font:bold 1em; margin-top: 3px">
                    도움이되었어요.{{ post.likes_user.all.count }}개</button>
            </div>
            <div class="accordion_area">
                <button class="btn btn_toggle">공유하기</button>
                <div class="content_area">
                    <span class="sociallink ml-1">
                        <a href="javascript:sendLinkFacebook()" title="페이스북으로 공유">
                        <img src="{% static 'images/facebook.png' %}" width=36 alt="Facebook">
                        </a>
                    </span>
                    <span class="sociallink ml-1">
                        <a href="javascript:sendLinkTwitter()" title="트위터로 공유">
                        <img src="{% static 'images/twitter.png' %}" width=36 alt="Twitter">
                        </a>
                    </span>
                    <span class="sociallink ml-1">
                        <a href="javascript:sendLinkNaver()" title="네이버로 공유">
                        <img src="{% static 'images/naver.png' %}" width=36 alt="Naver">
                        </a>
                    </span>
                    <span class="sociallink ml-1">
                        <a href="javascript:sendLinkKakao()" id="kakao-link-btn" title="카카오톡으로 공유">
                        <img src="{% static 'images/kakaotalk.png' %}" width=36 alt="Kakaotalk"> <!--이거는 도메인이없어서 못하는중임당... 배포하면 수정 할 예정.-->
                        </a>
                    </span>
                </div>
            </div>

            <div>
                <input type="button" class="btn btn-info btn-sm scrap" name="{{ post.id }}" value="scrap"
                    style="margin-top: 7px">
                <button id="scarp-{{ post.id }}" style="font:bold 1em; margin-top: 3px">
                    퍼가기.{{ post.scarps_user.all.count }}개</button>
            </div>

        </div>
        <div class="comment_area">
            <div class='addComment'>
                {% for comment in comments %}
                <div class='comment_id_{{comment.id}}'>
                    <div class="comment_text">
                        {{comment.text}}
                    </div>
                    {% if request.user == comment.user %}
                    <div class="delete_btn">
                        <button onclick="onClickDelete({{post.id}},{{comment.id}})">삭제</button> <!--comment 별로 id 준당-->
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
                <div class="comment_input_area">
                    <input class="comment_input" type="text" placeholder="댓글달기"/>
                    <button onclick="onClickComment({{ post.id }})">게시</button> 
                    <!--comment 별로 id 준당-->
                </div>
            </div>
    </div>
</div>        

<script>


//     // axios try
// const likeButton = document.querySelector('.like_button')
// likeButton.forEach(button => {
//     button.addEventListener('click', function(event){
//         const articleld = event.target.dataset.id
//         const likeCount = document.querySelector(`.like_count-${articledId}`)

//         $httpProvider.defaults.xsrfCookieName = 'csrftoken',
//         $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken'

//         axios.post(`/posts/${articled}/like/`)
//         .then(response) => {
//             likeCount.innerText = response.data.likeCount
//             if(request.data.liked){
//                 event.target.className = 'like_button'
//                 event.target.style.color = '#FFEF9C'
//             } else {
//                 event.target.className = 'like_button'
//                 event.target.style.color = '#FFF8CA'
//             }
//         }
//     })
// })

// 스크랩, 도움버튼 axios 실습따라하기
// const onClickLikeScrap = async(id, type) => { 
//         const url = '/posts/count_like_scrap/';
//         const {data} = await axios.post(url, {   //axios.method(url {JSON안해줘도됨 넘겨줄 인자}) {data}-? : axios다큐먼트 찾아보면 .. 하나의 약속 axios.post는 method=='POST'와 같다.
//             id, type
//         }); // {'id': 1, 'type': 'like'}로 처리  data.id로 접근 가능 data.type : 'like'
//         likeHandleResponse(data.id, data.type)
//     }

// const likeHandleResponse = (id, type) => {
//         const element = document.querySelector(`.post-id-${id} .post__${type}`); //id와 버튼type을 받아서
//         const originHTML = element.innerHTML;
//         const [buttonType, num] = originHTML.split(', ');  // ['Like', '0'] 쪼개서 변수에 저장
//         const count = Number(num) + 1;//+1한 값을 count에 저장
//         element.innerHTML = `${buttonType} ${count}`;
//     }
// ajax로 다시시도
</script>
{% endblock %}