{% extends 'base.html' %}

{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
<script src="{% static 'js/infinite.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs2015.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript">hljs.highlightAll();</script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<div class="post_container" id="scroll-element">
    <a href="{% url 'posts:main' %}">스크랩 /</a>
    <button onclick="a()" id="helped" href="#">도움 /</button>
    <a href="{% url 'posts:my_recent' %}">내 최신순 /</a>
    <a href="{% url 'posts:follow' %}">이웃 /</a>

    {% include 'posts/_posts.html' with posts=posts %}
    
</div>
<div id="bottom-sentinel">
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log( 'document was not ready, place code here' );
        let bottomSentinal = document.querySelector("#bottom-sentinel");
        let scrollElement = document.querySelector("#scroll-element");
        let baseUrl = "{% url 'posts:scrap_axios' %}"; //baseUrl만 바꿔주면 동기가 될꺼 같은데?
        attachInfiniteScroll(bottomSentinal, scrollElement, baseUrl);
    });

    const a = () => {
        const url = "{% url 'posts:my_recent_axios' %}";
        console.log(url)
    }
</script>
{% endblock %}

