{% extends 'base.html' %}

{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
<script src="{% static 'js/infinite.js' %}"></script>
{% endblock %}

{% block content %}
<div class="post_container" id="scroll-element">
    <button onclick="a()" >스크랩 /</button>
    <button onclick="b()" id="helped" href="#">도움 /</button>
    <button onclick="c()" >내 최신순 /</button>
    <button onclick="d()" >이웃 /</button>

    {% include 'posts/_posts.html' with posts=posts %}

</div>
<div id="bottom-sentinel">
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        console.log( 'document was not ready, place code here' );
        let bottomSentinal = document.querySelector("#bottom-sentinel");
        let scrollElement = document.querySelector("#scroll-element");
        let baseUrl = "{% url 'posts:scrap_axios' %}"; //baseUrl만 바꿔주면 동기가 될꺼 같은데?
        attachInfiniteScroll(bottomSentinal, scrollElement, baseUrl);
    });
    
    const helped = document.getElementById('helped');
    console.log(helped);
    
    helped.addEventListener('click', () => {
        console.log('클릭');
    })
    
    const a = () => {
        const url = "{% url 'posts:scrap_axios' %}";
        console.log(url)
    }

    const b = () => {
        const url = "{% url 'posts:helped_axios' %}";
        console.log(url)
    }
    
    const c = () => {
        const url = "{% url 'posts:follow_axios' %}";
        console.log(url)
    }
    const d = () => {
        const url = "{% url 'posts:my_recent_axios' %}";
        console.log(url)
    }
    
</script>
{% endblock %}

