{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}

{% block content %}
<body>
    <div class="main_container">

        <div class="input_container">
            <form class="input_form" action="{% url 'posts:search' %}" method="post">
                {% csrf_token %}
                <input type="text" class="search" placeholder="뭐라고 할까요?" name="q" value="{{q}}">
            </form>
        </div>
        <div class="choice_container">
            <div class="choice_box">
                <div class="choice_select">
                    {{form.field}}
                </div>
                <div class="choice_select">
                    {{form.field2}}
                </div>
                <div class="choice_select">
                    {{form.field3}}
                </div>
                <div class="choice_select">
                    {{form.field4}}
                </div>
            </div>
        </div>
        <!-- <form class="search-form">
            <input type="text" class="search" placeholder="City or State">
            <ul class="suggestions">
                <li>Filter for a city</li>
                <li>or a state</li>
            </ul>
        </form> -->

        <div class="search_container">
            <div class="post_container">
                
            </div>
        </div>
    </div>
{% endblock %}

