<h1> 답변을 기다리는 질문들 </h1>
<!--for 문 돌리고-->
{% for selected_answer_post in selected_answer_posts %}
<h4>작성자 이름:</h4>
{{selected_answer_post.user.username}}
{{selected_answer_post.title}}
{{selected_answer_post.desc}}
{% endfor %}
<!--채택이 false인거만 나오게 한다.-->
<h1> 내가 관심있는 : </h1>

<form action="" method="POST">
    {%csrf_token%}
    {% for languages in language %}

    <input type="checkbox" name="answers[]" id="answer1" value={{languages}}>{{languages}}</input>
    {%endfor%}
    <button type="submit">제출</button>
</form>
{% for post in posts%}
    {%if str_search == post.language %}
        {{post.title}}
        {{post.desc}}
    {%endif%}
{% endfor %}


