appnope==0.1.2
asgiref==3.4.1
astroid==2.6.2
autopep8==1.5.7
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
cryptography==3.4.7
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.5
django-allauth==0.45.0
django-appconf==1.0.4
django-ckeditor==6.1.0
django-compressor==2.4.1
django-cors-headers==3.10.0
django-debug-toolbar==3.2.1
django-dotenv==1.4.2
django-email-verification==0.0.2
django-extensions==3.1.3
django-filter==2.4.0
django-js-asset==1.2.2
django-resized==0.3.11
django-rest-auth==0.9.5
django-sass-processor==1.0.1
django-tagging==0.5.0
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
Faker==8.10.1
filelock==3.0.12
idna==3.2
ipykernel==5.5.3
ipython==7.25.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.6.0
libsass==0.21.0
matplotlib-inline==0.1.2
mccabe==0.6.1
nodeenv==1.6.0
oauthlib==3.1.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
platformdirs==2.0.2
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pycodestyle==2.8.0
pycparser==2.20
Pygments==2.9.0
PyJWT==1.7.1
pylint==2.9.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
python-dateutil==2.8.2
python-dotenv==0.19.0
python3-openid==3.2.0
pytz==2021.1
pywin32==300
pyzmq==22.0.3
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.6.0
wcwidth==0.2.5
wrapt==1.12.1