
* {
    box-sizing: border-box;
}
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
    font-family: var(--title-font);
}

body {
    color: var(--text-color);
}


form {
    display: flex;
    flex-direction: column;
}

.main_container {
    margin-top: 9.0625rem;
    margin-bottom: 4.375rem;
}

.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0.75rem 0.75rem 3.75rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    width: 950px;
    margin: auto;
    padding: 2.625rem;
}

.form_container {
    /* padding: 3.125rem; */
    display: flex;
    /* width: 100%; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create_title {
    display:flex;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
}

.create_title h1 {
    font-size: 38px;
    margin-bottom: 2rem;
}


#id_title {
    display: flex;
    height: 60px;
    width: 835px;
    padding: 5px 7px; 
    font-family: var(--btn-font);
    font-size: 1em;
    border: solid 1px var(--border-color);
    margin-bottom: 10px;

}


.btn_area {
    display: flex;
    justify-content: space-around;
    margin-top: 6.25rem;
}

.btn_control,
.btn_input {
    width: 11.5625rem;
    height: 3.5rem;
    border: solid 0.0625rem #00537A;
    background-color: white;
    border-radius: 1.25rem;
    color: #00537A;
    font-family: var(--btn-font);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    text-align: center;
}

.btn_control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_input:hover,
.btn_control:hover {
    border: solid 0.0625rem white;
    background-color: #00537A;
    color: white;
}


