
* {
    box-sizing: border-box;
}
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
    font-family: var(--title-font);
}

a {
    text-decoration: none;
    color:var(--text-color);
}

body {
    color: var(--text-color);
}

.question_container {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.post_container {
    width: 68em;
    padding: 50px;
    display: flex;
    justify-content: center;
    border: solid 1px var(--border-color); 
    border-radius: 8px;
    flex-direction: column;
    margin-bottom: 4rem;
}

.post_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thumbnail_area{
    border: solid 1px var(--border-color);
    border-radius: 8px;
    height: 28rem; 
    width: 90%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.post_area {
    border: solid 1px var(--border-color);
    border-radius: 8px;
    display: flex;
    padding: 20rem;
}

.post_area h1 {
    font-size: 2em;
    color: var(--text-color);
    font-family: var(--title-font);
    display: block;
}

.post_user_info {
    display: flex;
    align-items: center;
}

.post_user_info span {
    margin-left: 10px;
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
}

.profile_username {
    display: flex;
    flex-direction: row;
}

.user_nickname {
    margin-left: 20px;
}

.post_user_info img {
    width: 36px;
    border-radius: 20px;
    margin: 10px;
}

.user_nickname {
    display: flex;
    align-items: center;
}

.auth_btn_area {
    display:flex;
    align-items: center;
}

.auth_btn_area > div {
    padding: 20px;
}

.auth_btn_area a {
    padding: 10px 14px;
}

.edit_btn > a{
    font-family: var(--btn-font);
    color:var(--sand-color);
    background-color: var(--btn-color);
    border-radius: 4px;
    box-shadow: none;
    border: solid 2px var(--sand-color);
    color: var(--sand-color);
    text-decoration: none;
    padding: 10px 14px;
}

.edit_btn > a:visited {
    color: var(--sand-color);
    text-decoration: none;
}

.edit_btn a:hover {
    background-color: var(--hover-color);
}

.edit_btn a:active {
    background-color: floralwhite;
    color: var(--sand-color)
}


.delete_btn a:hover {
    background-color: #fee5ce;
    color: salmon;
}

.delete_btn a:active {
    background-color: lightsalmon;
    color: whitesmoke;
}

.category_area {
    font-family: var(--btn-font);
    font-size: 0.825rem;
    color:var(--text-color);
}

.desc_area {
    font-family: var(--content-font);
    min-height: 8rem;
}

.tag_area {
    margin-bottom: 30px;
}

.comment_box {
    margin-top: 30px;
}


.addComment {
    font-size: 1rem;
    font-family: var(--content-font); 
    padding: 10px;
}

.addComment > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addComment button {
    padding: 10px 20px;
}

.comment_area {
    font-size: 1rem;
}

.comment_text {
    font-family: var(--content-font);
}


.delete_btn > * {
    font-family: var(--btn-font);
    color:var(--sand-color);
    background-color: peachpuff;
    border-radius: 4px;
    box-shadow: none;
    border: solid 2px lightsalmon;
    color: salmon;
}

.delete_btn button:active {
    background-color: lightsalmon;
    color: whitesmoke;
}
.delete_btn button:hover {
    background-color: #fee5ce;
    color: salmon;
}

.comment_input_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_input_area button {
    padding: 10px 20px;
    background-color: var(--btn-color);
    border-color:var(--border-color);
    color: var(--sand-color);
    font-family: var(--btn-font);
    border-radius: 4px;
    border-style: solid;
}

.comment_input_area button:hover {
    background-color: var(--hover-color);
    border-radius: 4px;
} 

.comment_input {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: var(--content-font);
    border: solid 1px var(--border-color);
    border-radius: 4px;
    width: 50em;
}

.comment_id_ {
    margin: 30px 0;
}

.like_button, .post__scrap, .comment_btn {
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    background: floralwhite;
    border-radius: 8px;
}


.btn_control {
    border: solid 1px var(--sand-color);
    background-color: var(--btn-color);
    font-size: 1.25em;
    border-radius: 8px;
    padding: 15px 40px;
    color: var(--sand-color);
    font-family: var(--btn-font);
    text-decoration: none;
}

.btn_control a {
    text-decoration: none;
    
}

.btn_control a:active {
    color:whitesmoke;
    background-color: var(--hover-color);
}

.btn_control a:visited {
    color: var(--sand-color);
}

.answer_area {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
}

.answer_container {
    width: 68em;
    padding: 50px;
    display: flex;
    justify-content: center;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    flex-direction: column;
    margin: 8rem 0;
}


.choice_btn a {
    font-family: var(--btn-font);
    color:var(--sand-color);
    background-color:var(--btn-color);
    border-radius: 4px;
    box-shadow: none;
    border: solid 2px var(--hover-color);
    color: #A9A59F;
}

.choice_modal_body .show {
    visibility: visible;
    display:block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

.choice_modal_body {
    visibility: hidden;
    position: absolute;
    width: 300px;
    height: 100px;
    line-height: 2rem;
    padding: 1.8rem;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transition-timing-function: ease-in;
    transition-duration: 1s;
    
}
/* .choice_modal_body h3,
.choice_modal_body a {
    visibility: hidden;
} */