
* {
    box-sizing: border-box;
}
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
    --second-font: 'SpoqaHanSansNeo-Regular';
    --coding-font: 'Nanum Gothic Coding', monospace;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

code {
    font-family: var(--coding-font);
    background-color: lavender;
    color: #00537A;
    border-radius: .5rem;
    font-weight:500;
}


::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    height: 4px;
    background-color: rgba(98, 161, 191, 60%);
    border-color:  rgba(98, 161, 191, 70%);
    border-radius: 20px; 
}
::-webkit-scrollbar-track {
    background-color: none;
}

.question_container {
    width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thumbnail_area{
    width: 768px;
    border-radius: 20px 20px 0px 0px;
    /* border-bottom: none; */
    height: 25rem;
    max-width: 48rem;
    /* display: flex; */
    /* justify-content: center; */
    object-fit: cover;
    margin-bottom: 24px;
}

.thumbnail_box {
    width: 768px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.content_box {
    padding: 1.875rem;
}

.post_container {
    max-width: 48rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.25rem;
    box-shadow: 0.75rem 0.75rem 3.75rem 0.2rem rgb(0 0 0 / 8%);
    flex-direction: column;
}

.title_area h1{
    font-size: 2.25rem;
    line-height: 3rem;
    color: #212529;
    margin-bottom: 2rem;
}

.created_date {
    font-size: 12px;
    line-height: 14px;
    color: #8C8D8D;
    height: 24px;
}

.post_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #ececec;
    padding-bottom: 1rem;
}

.post_area {
    border: solid 1px var(--border-color);
    border-radius: 8px;
    display: flex;
    padding: 20rem;
}

.post_area h1 {
    font-size: 2em;
    color: var(--text-color);
    font-family: var(--title-font);
    display: block;
}

.post_user_info {
    display: flex;
    align-items: center;
}

.post_user_info span {
    margin-left: 10px;
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
}

.profile_username {
    display: flex;
    align-items: center;
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    margin-bottom: 1.25rem;
    width: 42.375rem;
    height: 9.0625rem;
    display: flex;
    flex-direction: row;
    padding: 1.875rem;
}

.user_nickname {
    font-family: 'Pretendard-SemiBold';
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    color: #00537A;
    font-size: 1rem;
}


.post_user_info img {
    height: 36px;
    width: 36px;
    border-radius: 30px;
    margin: 10px;
}

.auth_btn_area {
    display: flex;
    align-items: center;
    justify-content: center;
}


.auth_btn_area a {
    padding: 10px 14px;
}





.edit_btn > a {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 4.8125rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 1.125rem;
}

.edit_btn > a:visited {
    color: #00537A;
    text-decoration: none;
}

.edit_btn a:hover,
.edit_btn a:active {
    background-color: #00537A;
    color: white;
}

.delete_btn > * {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 4.8125rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 1.125rem;
}

.delete_btn a:active,
.delete_btn a:hover {
    background-color: #00537A;
    color: white;
}

.category_area {
    font-family: var(--btn-font);
    font-size: 0.825rem;
    color: var(--text-color);
    margin-bottom: 2.375rem;
    margin-top: 14px;
    border-top: solid 1px #ECECEC;
    padding-top: 14px;
}

.category_area span {
    width: 4.375rem;
    height: 1.5rem;
    padding: 0.25rem 1.125rem;
    background: #FFBA42;
    border-radius: 1.25rem;
    color: white;
    margin-right: 0.625rem;
    text-align: center;
}

.desc_area {
    font-family: var(--content-font);
    font-size: 1.125rem;
    color: #585858;
    min-height: 8rem;
    margin-top: 2rem;
    line-height: 2.125rem;
    height: 100%;
    margin-bottom: 2.375rem;
    width: 44.25rem;
}

.desc_area img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.accordion_area {
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#facebook_icon > a > svg > path {
    fill: #FFD358;
}

.sociallink:not(#naver_icon) > a > svg>path:hover {
    fill: #FFBA42;
}
.sociallink:not(#naver_icon) > a > svg>path:active{
    fill: #FFBA42;
}

#naver_icon rect:hover {
    fill: #FFBA42;
}
#naver_icon path:hover {
    fill: white;
}
#naver_icon rect:active {
    fill: #FFBA42;
}
#naver_icon path:active {
    fill: white;
}
.comment_btn,
.scrap {
    color: #212529;
    font-family: var(--btn-font);
    background-color: white;
    border: solid 1.4px #FFBA42;
    border-radius: 1.25rem;
    text-align: center;
    width: 7.1875rem;
    height: 1.875rem;
    cursor: pointer;
}

.scrap > svg, .comment_btn > svg {
    margin-right: 0.3125rem;
}

.like {
    color: #212529;
    font-family: var(--btn-font);
    background-color: white;
    border: solid 1px #FFBA42;
    border-radius: 1.25rem;
    text-align: center;
    width: 10.5rem;
    height: 1.875rem;
    cursor: pointer;
    padding: 4px 8px;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.comment_btn > svg {
    vertical-align: middle;
}

.like > svg,
.scrap > svg {
    vertical-align: middle;
}

.scrap > svg,
.btn_toggle > svg {
    margin-right: 0.3125rem;
}

.scrap span,
.btn_toggle span {
    text-align: center;
}

.scrap_counts {
    margin-left: 0.3125rem;
}

.scrap:visited {
    background-color: var(--hover-color);
}

.like > svg {
    margin-right: 0.3125rem;
}

.like span {
    text-align: center;
}

.like:hover {
    background-color: #FFBA42;
    color: white;
    border: solid 0.0625rem white;
}







.scrap_popup {
    position: relative;
    top: 50%;
    opacity: 0;
    /* visibility: hidden; */
    width: 18.75rem;
    height: 5rem;
    background: rgb(231, 231, 230);
    border: solid 0.0625rem var(--border-color);
    transition-duration: 2s;
}


.scrap_popup p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    font-family: var(--content-font);
}




.close_btn {
    margin: 10px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-family: var(--btn-font);
    color: var(--sand-color);
    display: inline-block;
}



.share_box {
    display: flex;
    flex-direction: row;
    width: 12rem;
    border: none;
    justify-content: space-evenly;
    align-items: center;
}

.profile_username {
    display: flex;
    align-items: center;
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    margin: 2rem 0;
}

.profile_image {
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-right: 1.5rem;
    object-fit: cover;
}

.profile_image img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 6.25rem;
}

.user_nickname {
    font-family: 'Pretendard-SemiBold';
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    color: #00537A;
    font-size: 1rem;
}


.user_level {
    font-size: 0.75rem;
    color: #8C8D8D;
    margin-left: 0.625rem;
}

/* ----------------------------------댓글영역 -------------------------------- */


.comment {
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: right;
    color: #00537A;
}

.addComment > div {
    padding: 1.125rem 1.875rem 1.125rem 1.875rem;
    background: #FFFFFF;
    border: 0.0625rem solid #62A1BF;
    box-sizing: border-box;
    border-radius: 1.25rem;
    width: 44rem;
    margin-bottom: 1.5rem;
}

.comment_flex {
    display: flex;
    align-items: center;
}

.comment_flex > .user_nicknamme {
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    line-height: 1.4375rem;
    color: #00537A;
    margin-bottom: 1rem;
    margin-right: 0.625rem;
}

.comment_area {
    font-size: 1rem;
}

.comment_span {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #00537A;
    margin: 2rem 0rem 1rem 0rem;
}

.comment_text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #8C8D8D;
    text-align: left;
}

.comment_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_created {
    font-size: 0.625rem;
    margin-bottom: 1rem;
    margin-right: 0.625rem;
    color: #8C8D8D;
}

.comment_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}


.comment_box {
    margin-top: 30px;
}


.addComment {
    font-size: 1rem;
    font-family: var(--content-font); 
}

.addComment > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment_area {
    font-size: 1rem;
}

.comment_text {
    font-size: 0.875rem;
    font-family: var(--content-font);
    color: var(--text-color);
    text-align: left;
}

.comment_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.comment_profile img {
    border-radius: 2rem;
    width: 50px;
    height: 50px;
}


.comment_input_area button {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 7.875rem;
    height: 2.5rem;
    border: 0.0625rem solid #00537A;
    cursor: pointer;
    margin: 0.875rem 0 1.875rem 35.8125rem;
}

.comment_input_area button:hover {
    background-color: #00537A;
    color: white;
} 

.comment_input {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    font-family: var(--content-font);
    border: 0.0625rem solid #62A1BF;
    box-sizing: border-box;
    border-radius: 1.25rem;
    width: 44rem;
    height: 5rem;
    outline: none;
}

.comment_id_ {
    margin: 30px 0;
}

.like,
.scrap,
.comment_btn {
    min-width: 80px;
    color: #212529;
    font-family: var(--btn-font);
    background-color: white;
    border: solid 1px #FFBA42;
    border-radius: 1.25rem;
    text-align: center;
    height: 1.875rem;
    line-height: 1.2rem;
    cursor: pointer;
    padding: 4px 14px;
    font-size: .75rem;
    vertical-align: middle;
}

.like:hover path,
.scrap:hover path,
.comment_btn:hover path {
    fill: white;
}

.like:hover,
.scrap:hover,
.comment_btn:hover {
    color: white;
    background-color: #FFBA42;
}
.like:hover,
.scrap:hover,
.comment_btn:hover {
    color: white;
    background-color: #FFBA42;
}

.btn_control a {
    text-decoration: none;
}



/* 답변 영역 */

.answer_btn {
    margin: 3.75rem auto;
    font-family: var(--btn-font);
    background-color: #FFE59C;
    border-radius: 1.25rem;
    color: #212529;
    padding: 0;
    width: 12.5rem;
    height: 3.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5rem;
    font-size: 18px;
}

.answer_btn:hover {
    background-color: #FFD358;
}

.answer_btn:active {
    background-color: #FFBA42;
}

.answer_area {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
}

.answer_container {
    margin: 1rem;
    width: 48rem;
    padding: 1.875rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.25rem;
    box-shadow: .75rem 0.75rem 2.5rem 0rem rgb(0 0 0 / 8%);
    flex-direction: column;
}


.choice_btn button {
    font-family: var(--btn-font);
    color: #00537A;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 83, 122, 30%);
    padding: 4px .125rem;
    border: solid 2px #00537A;
    box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 8%);
    padding: 10px 20px;
}

.choice_btn_group {
    margin-top: 6px;
    text-align: center;
}


.choice_popup {
    visibility: hidden;
    border: solid 1px #00537A;
    position: relative;
    float: right;
    width: 300px;
    height: 100px;
    line-height: 2rem;
    padding: 10px;
    right: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
    opacity: 0;
    transition-timing-function: ease-out;
}

.choice_popup h3 {
    color: #00537A;
    font-family: var(--btn-font);
    display: inline;
}

.close_choice {
    position: relative;
    top: 0;
    left: 12;
    right: -260px;
    background: none;
    font-size: 13px;
    border: none;
    display: inline;
    cursor: pointer;
}

.yes_choice,
.no_choice {
    font-family:var(--btn-font);
    font-size: .75rem;
    color: #585858;
    background-color: #FFD358;
    border-radius: 2rem;
    padding: 4px, 6px;
    border: none;
    outline: none;
    padding: 6px;

}

.yes_choice {
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    height: 2rem;
    width: 3rem;
    line-height: 1.6;
}

.no_choice {
    width: 3rem;
    vertical-align: midl;
    height: 2rem;
    cursor: pointer;
}

.modal_delete {
    width: 20px;
    height: 20px;
}

.answer_selected {
    width: 3.625rem;
    height: 3.625rem;
    color: #00537A;
    background-color: #CFF0F4;
    border-radius: 3rem;
    display: inline;
    text-align: center;

}

.answer_comment_input {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    font-family: var(--content-font);
    border: 0.0625rem solid #62A1BF;
    box-sizing: border-box;
    border-radius: 1.25rem;
    width: 44rem;
    height: 5rem;
    outline: none;
}

.addAnswerComment {
    font-size: 1rem;
    font-family: var(--content-font);
    padding: 10px;
}

/* .addAnswerComment > div {
    padding: 1.125rem 1.875rem 1.125rem 1.875rem;
    background: #FFFFFF;
    border: 0.0625rem solid #62A1BF;
    box-sizing: border-box;
    border-radius: 1.25rem;
    width: 44rem;
    margin-bottom: 1.5rem;
} */

.add_comment_delete_btn > button {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 4.8125rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 1.125rem;
}
