
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
    font-family: var(--title-font);
}

body {
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
}

.main_container {
    margin-top: 9.0625rem;
    margin-bottom: 4.375rem;
}

.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0.75rem 0.75rem 3.75rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    width: 59.375rem;
    margin: auto;
    padding: 2.625rem;
}

.form_container {
    /* padding: 3.125rem; */
    display: flex;
    /* width: 100%; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create_title {
    display:flex;
    /* margin-top: 10rem; */
    justify-content: center;
}

.create_title h1 {
    font-size: 2.375rem;
}

.thumbnail_area {
    overflow: hidden;
    height: 18em;
    width: 52.1875rem;
    margin: 0.625rem 0rem;
    font-family: var(--content-font);
    color: var(--text-color);
    border: solid 0.0625rem #C4C4C4;;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.thumbnail_area label {
    width: 52.1875rem;
    color: white;
}

.thumbnail_area #id_image {
    width: 0.0625rem;
}

#image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    object-fit: cover;
}

.thumbnail_area a {
    display: none;
}

#id_title {
    display: flex;
    height: 3.75rem;
    width: 52.1875rem;
    padding: 0.3125rem 0.4375rem; 
    font-family: var(--btn-font);
    font-size: 1em;
    border: solid 0.0625rem #C4C4C4;;
    margin-bottom: 0.625rem;

}

#id_error_message {
    display: flex;
    height: 3.75rem;
    width: 52.1875rem;
    padding: 0.3125rem 0.4375rem; 
    font-family: var(--btn-font);
    border: solid 0.0625rem #C4C4C4;;
    margin: 0.625rem 0rem;
    font-size : var(--btn-font);
}

.choice_area {
    font-family: var(--btn-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice_area select {
    width: 16.4375rem;
    height: 2.75rem;
    border: solid 0.0625rem #C4C4C4;;
    font-family: var(--content-font);
    font-size: 1em;
    color: var(--text-color);
    margin: auto;
}

.choice_area :not(:last-child) {
    margin-right: 23px;
}

.choice_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* margin-right: 1.375rem; */
}

.choice_flex > span {
    margin-bottom: 0.625rem;
    margin-top: 0.3125rem;
}

#id_desc {
    margin: 0.625rem;
    display: flex;
    justify-content: center;
}

.tag_area {
    width: 100%;
    height: 3.125rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 1.25rem 0rem;
    font-family: var(--btn-font);
}

.tag_area > span {
    margin-right: 0.625rem;
}   

#id_is_public {
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
}

#id_is_public li {
    margin-right: 0.625rem;
}

#id_tag {
    width: 30em;
    height: 2.75rem;
    border: solid 0.0625rem #C4C4C4;;
    border-radius: 0.25rem;
}

.tag_label {
    margin: 0 1.25rem;
}

.btn_area {
    display: flex;
    justify-content: space-around;
    margin-top: 3.4375rem;    
}

.btn_control,
.btn_input {
    width: 11.5625rem;
    height: 3.5rem;
    border: solid 0.0625rem #00537A;
    background-color: white;
    border-radius: 1.25rem;
    color: #00537A;
    font-family: var(--btn-font);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    text-align: center;
}

.btn_control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_input:hover,
.btn_control:hover {
    border: solid 0.0625rem white;
    background-color: #00537A;
    color: white;
}
