
* {
    box-sizing: border-box;
}
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
    --second-font: 'SpoqaHanSansNeo-Regular';
    --coding-font: 'Nanum Gothic Coding', monospace;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

code {
    font-family: var(--coding-font);
    background-color: #fee5ce;
    border-radius: .625rem;
    font-weight:500;
}


::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-thumb {
    height: 4px;
    background-color: rgba(98, 161, 191, 60%);
    border-color:  rgba(98, 161, 191, 70%);
    border-radius: 20px; 
}
::-webkit-scrollbar-track {
    background-color: none;
}

.question_container {
    width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.thumbnail_area {
    border-radius: 1.25rem 1.25rem 1rem 1rem;
    border-bottom: none;
    height: 25rem; 
    max-width: 48rem;
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.post_container {
    max-width: 48rem;
    padding: 1.875rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.25rem;
    box-shadow: .75rem 0.75rem 2.5rem 0rem rgb(0 0 0 / 8%);
    flex-direction: column;
}

.title_area h1{
    font-size: 2.25rem;
    line-height: 3rem;
    color: #212529;
    margin-bottom: 0.375rem;
    /* height: 6rem; */
}

.created_date {
    font-size: 12px;
    line-height: 14px;
    color: #8C8D8D;
    height: 24px;
}

.post_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_area {
    border: solid 1px var(--border-color);
    border-radius: 8px;
    display: flex;
    padding: 20rem;
}

.post_area h1 {
    font-size: 2em;
    color: var(--text-color);
    font-family: var(--title-font);
    display: block;
}

.post_user_info {
    display: flex;
    align-items: center;
}

.post_user_info span {
    margin-left: 10px;
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
}

.profile_username {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #ececec;
    border-top: solid 1px #ececec;
}

.user_nickname {
    margin-left: 20px;
}

.post_user_info img {
    height: 36px;
    width: 36px;
    border-radius: 30px;
    margin: 10px;
}

.user_nickname {
    display: flex;
    align-items: center;
}

.auth_btn_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_btn_area > div {
    padding: 20px;
}

.auth_btn_area a {
    padding: 10px 14px;
}





.edit_btn > a {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 4.8125rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 1.125rem;
}

.edit_btn > a:visited {
    color: #00537A;
    text-decoration: none;
}

.edit_btn a:hover,
.edit_btn a:active {
    background-color: #00537A;
    color: white;
}

.delete_btn > a {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 4.8125rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 1.125rem;
}

.delete_btn a:active,
.delete_btn a:hover {
    background-color: #00537A;
    color: white;
}

.category_area {
    font-family: var(--btn-font);
    font-size: 0.825rem;
    color: var(--text-color);
    margin-bottom: 2.375rem;
    margin-top: 14px;
    border-top: solid 1px #ECECEC;
    padding-top: 14px;
}

.category_area span {
    width: 4.375rem;
    height: 1.5rem;
    padding: 0.25rem 1.125rem;
    background: #FFBA42;
    border-radius: 1.25rem;
    color: white;
    margin-right: 0.625rem;
    text-align: center;
}

.desc_area {
    font-family: var(--content-font);
    font-size: 1.125rem;
    color: #585858;
    min-height: 8rem;
    margin-top: 2rem;
    line-height: 2.125rem;
    height: 100%;
    margin-bottom: 2.375rem;
    width: 44.25rem;
}

.desc_area img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.accordion_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}

#facebook_icon > a > svg > path {
    fill: #FFD358;
}

.sociallink:not(#naver_icon) > a > svg>path:hover {
    fill: #FFBA42;
}
.sociallink:not(#naver_icon) > a > svg>path:active{
    fill: #FFBA42;
}

#naver_icon rect:hover {
    fill: #FFBA42;
}
#naver_icon path:hover {
    fill: white;
}
#naver_icon rect:active {
    fill: #FFBA42;
}
#naver_icon path:active {
    fill: white;
}

.scrap {
    background-color: white;
    cursor: pointer;
    padding: 0.5rem;
    /* width: 100%; */
    height: 50%;
    outline: none;
    border-radius: 8px;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: 0.4s;
    font-family: var(--btn-font);
    color: var(--text-color);
}

.scrap:visited {
    background-color: var(--hover-color);
}

.scrap_popup {
    vertical-align: middle;
    float: left;
    position: relative;
    top: -10px;
    border: solid 1.5px #FFD358;
    /* opacity: 0; */
    /* visibility: hidden; */
    width: 300px;
    height: 80px;
    transition-duration: 2s;
    padding: 1.1rem;
}
}

.scrap_popup p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    font-family: var(--content-font);
}

/* .share_button {
    color: var(--sand-color);
    font-family: var(--btn-font);
    background-color: var(--btn-color);
    border: solid 1px var(--border-color);
    border-radius: 4px;
    padding: 10px 8px;
}

.share_popup {
    position: absolute;
    top: 50%;
    right: 30%;
    border-radius: 16px;
    border: none;
    opacity: 0;
    visibility: hidden;
    width: 40%;
    height: 20%;
    background: white;
    box-shadow: 0 5px 10px 9px rgb(60 36 35 / 6%);
    transition-duration: 2s;
}
*/

/* 공유하기 아코디언 */
.accordion {
    background-color: cornsilk;
    cursor: pointer;
    padding: 0.5rem;
    /* width: 100%; */
    outline: none;
    border-radius: 8px;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: 0.4s;
    font-family: var(--btn-font);
    color: var(--text-color);
}


.active, .accordion:hover {
    background-color: var(--hover-color);
    font-weight: bold;
}


.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 16px;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    max-height: 0;
}

.panel img {
    vertical-align: middle;
}


.close_btn {
    margin: 10px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-family: var(--btn-font);
    color: var(--sand-color);
    display: inline-block;
}

.share_box {
    display: flex;
    flex-direction: row;
    width: 12rem;
    border: none;
    justify-content: space-evenly;
    align-items: center;
}

.accordion_area:first-child {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


.panel_down {
    border: solid 1px #ffd358;
    width: 300px;
    padding: 6px 8px;
    margin-left: -14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}


.panel_down span {
    vertical-align: middle;
}




.profile_username {
    display: flex;
    align-items: center;
    padding: 1.75rem 1.5rem 1.5rem 1.5rem;
}

.profile_image {
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-right: 1.5rem;
}

.profile_image img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 6.25rem;
}

.user_nickname {
    font-family: 'Pretendard-SemiBold';
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    color: #00537A;
    font-size: 1rem;
}


.user_level {
    font-size: 0.75rem;
    color: #8C8D8D;
    margin-left: 0.625rem;
}

/* ----------------------------------댓글영역 -------------------------------- */

.addComment > div {
    padding: 1.125rem 1.875rem 1.125rem 1.875rem;
    background: #FFFFFF;
    border: 0.0625rem solid #62A1BF;
    box-sizing: border-box;
    border-radius: 1.25rem;
    width: 44rem;
    margin-bottom: 1.5rem;
}

.comment_flex {
    display: flex;
    align-items: center;
}

.comment_flex > .user_nicknamme {
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    line-height: 1.4375rem;
    color: #00537A;
    margin-bottom: 1rem;
    margin-right: 0.625rem;
}

.comment_area {
    font-size: 1rem;
}

.comment_span {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #00537A;
    margin: 2rem 0rem 1rem 0rem;
}

.comment_text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #8C8D8D;
    text-align: left;
}

.comment_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_created {
    font-size: 0.625rem;
    margin-bottom: 1rem;
    margin-right: 0.625rem;
    color: #8C8D8D;
}

.comment_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}


.comment_box {
    margin-top: 30px;
}


.addComment {
    font-size: 1rem;
    font-family: var(--content-font); 
    padding: 10px;
}

.addComment > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addComment > div {
    padding: 1.2rem;
    border: solid 1px var(--border-color);
    border-radius: 14px;
    margin: 0.5rem;
}

.comment_area {
    font-size: 1rem;
}

.comment_text {
    font-size: 0.875rem;
    font-family: var(--content-font);
    color: var(--text-color);
    text-align: left;
}

.comment_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_created {
    font-size: 0.625rem;
    margin-bottom: 1rem;
    color: var(--border-color);
}

.comment_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}


.comment_input_area button {
    padding: 0.625rem 1.25rem;
    background-color: white;
    border: 0.0625rem solid #00537A;
    color: #00537A;
    font-family: var(--btn-font);
    border-radius: 1.25rem;
    width: 7.875rem;
    height: 2.5rem;
    border: 0.0625rem solid #00537A;
    cursor: pointer;
    margin: 0.875rem 0 1.875rem 35.8125rem;
}

.comment_input_area button:hover {
    background-color: #00537A;
    color: white;
} 

.comment_input {
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    font-family: var(--content-font);
    border: 0.0625rem solid #62A1BF;
    box-sizing: border-box;
    border-radius: 1.25rem;
    width: 44rem;
    height: 5rem;
}

.comment_id_ {
    margin: 30px 0;
}

.like,
.scrap,
.comment_btn {
    min-width: 80px;
    color: #212529;
    font-family: var(--btn-font);
    background-color: white;
    border: solid 1px #FFBA42;
    border-radius: 1.25rem;
    text-align: center;
    /* width: 10.5rem; */
    height: 1.875rem;
    cursor: pointer;
    padding: 4px 14px;
    font-size: .75rem;
    vertical-align: middle;
}

.like:hover path,
.scrap:hover path,
.comment_btn:hover path {
    fill: white;
}

.like:hover,
.scrap:hover,
.comment_btn:hover {
    color: white;
    background-color: #FFBA42;
}
.like:hover,
.scrap:hover,
.comment_btn:hover {
    color: white;
    background-color: #FFBA42;
}

.btn_control a {
    text-decoration: none;
}



/* 답변 영역 */
.answer_area {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
}

.answer_container {
    max-width: 48rem;
    padding: 1.875rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.25rem;
    box-shadow: .75rem 0.75rem 2.5rem 0rem rgb(0 0 0 / 8%);
    flex-direction: column;
}


.choice_btn a {
    font-family: var(--btn-font);
    color:var(--sand-color);
    background-color:var(--btn-color);
    border-radius: 4px;
    box-shadow: none;
    border: solid 2px var(--hover-color);
    color: #A9A59F;
}

.choice_popup {
    visibility: hidden;
    position: relative;
    width: 300px;
    height: 100px;
    line-height: 2rem;
    padding: 1.8rem;
    right: 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    opacity: 0;
    transition-timing-function: ease-out;
    transition-duration: 0.2ss;
}

.modal_delete {
    width: 20px;
    height: 20px;
}