* {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color:var(--border-color);
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

:root {
    --border-color: #CEC4B3;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --border-radius: 8px;
}

a {
    color: var(--sand-color);
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    color:var(--border-color);
}


p {
    color:var(--border-color);
}

textarea:focus {
    outline: none;
}

.a {
    margin-top: 1000px;
}

.setting_list input {
    border: solid 1px #DBD6C7;
    border-radius: 1.25rem;
    padding: .875rem 1.625rem;
    font-family: 'Pretendard-Regular';
    color: #8C8D8D;
    margin-right: 3rem;
    vertical-align: middle;
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.flex_row {
    display: flex;
    flex-direction: row;
}

.top_box {
    height: 11.5rem;
    width:100%;
}

.top_box h1 {
    margin-top: 6.5rem;
    margin-bottom: 1.875rem;
    font-family:var(--title-font);
    color: #FFBA42;
    text-decoration-line: underline;
    text-underline-offset: 12px;
    margin-left: 13.5rem;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 80px 100px;
    width: 100%;
}

.account_container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #FFBA42;
    padding-bottom: .625rem;
    justify-content: space-between;
}


.profile_image input {
    display: none;
}

.setting_btn {
    border: none;
    font-family: 'Pretendard-SemiBold';
    background-color: #FFE59C;
    color: #212529;
    border-radius: 1.25rem;
    padding: .75rem .9375rem;
    height: 2.625rem;
}

.setting:hover {
    background-color: #FFD358;
}

.profile_image label {
    width: 66px;
}

#file_upload_button {
    font-family: var(--content-font);
    color:#00537A;
    font-size: .75rem;
    background-color: white;
    border: solid 1px #00537A;
    border-radius: 1.25rem;
}
.user_profile_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 3rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.name {
    font-family: 'Pretendard-Bold';
    font-size: 1.625rem;
    color: #00537A;
    display: inline;
    vertical-align: middle;
}


/*  선 아래영역 */

.setting_list {
    padding: 2.5rem 0;
    font-family: var(--title-font);
    
    display:flex;
    flex-direction: row;
    border-bottom: solid 1px #E5E5E5;
}

.setting_list h3 {
    font-family: 'Pretendard-Bold';
    color: #FFBA42;
    font-size: 1.375rem;
    margin-right: 2.2rem;
    align-items: center;
    vertical-align: middle;
}

/* 레벨 포인트  */

meter {
    /* Reset the default appearance */
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    height: 2.2rem;
    width: 22rem;
  }

meter::-webkit-meter-bar {
    width:22rem;
    height: 2.2rem;
    background-color: #fff;
    border: solid 1px #DBD6C7;
    border-radius: 1.25rem;
    color:#FFBA42;
}

meter::-webkit-meter-optimum-value {
    background: #FFBA42;
}
meter::-webkit-meter-high-value {
    background: #FFBA42;
}
meter::-webkit-meter-low-value {
    background: #FFBA42;
}

.point_gage label {
    font-size: 12px;
    color: #9FAEB6;
    font-family: 'Pretendard-regular';
    font-weight: 300;
}

/* 자기소개 */

.profile_content {
    font-size:1rem;
    color: #8C8D8D;
    line-height: 1.5rem;
}

.profile_content p {
    font-size : 1rem;
    margin-bottom: 1rem;
}

.desc_btn {
    width: 6rem;
    height: 2rem;
    background-color: #fff;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    margin: 1rem;
}

.desc_btn:hover {
    color: var(--border-color);
}

p.email {
    border: solid 1px #DBD6C7;
    border-radius: 1.25rem;
    padding: .875rem 1.625rem;
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    color: #8C8D8D;
    background: #F8F8F8;
    margin-right: 3rem;
    vertical-align: middle;
    width: 18.75rem;
}

.new_desc {
    min-width: 350px; 
}

.user_nickname_change {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting_list input:focus {
    outline: none;
}

.input::placeholder {
    color: #DBD6C7;
    font-size: .75rem;
    font-family: "Pretendard-Regular"
}

.password_input input {
    width: 30%;
}

.password_input {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
}

.user_password_change h3 {
    margin-bottom: 1rem;
}
