@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


:root {
    --border-color: #CEC4B3;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
}

.nav_left {
    display: flex;
    justify-content: center;
    margin-left: 3.125rem;

}
.nav_search {
    margin-left: 1rem;
}
.nav_search > svg{
    width: 1.4375rem;
    height: 1.4375rem;
    text-align: center;
    fill: #9FAEB6;
    margin-top: 0.1875rem;
    margin-right: 1.5625rem;
}

.nav_search svg:hover {
    fill: #00537A;
}

.nav_main_title {
    font-family: 'GmarketSansBold';
    font-size: 1.375rem;
    color: #00537A;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.125rem;
}

.nav_vertical {
    text-align: center;
    padding-right: 0.4rem;
}

.nav_vertical .vertical_element {
    /* padding: 0.5rem 1rem; */
    margin: 0.5rem 0.5rem;
    border-radius: 0.625rem;
    text-align: center;
}

.alarm svg {
    font-size: 2rem;
    fill:#9FAEB6;
    cursor: pointer;
    margin-top: 0.25rem;
    margin-right: 0.75rem;
}

.alarm svg:hover {
    fill: #00537A;
}

.nav_vertical h6 {
    font-family: var(--btn-font);
    font-size: 1rem;
    color: #9FAEB6;
    line-height: 1.188rem;
}

.nav_vertical h6:hover {
    color: #00537A;
}

.vertical_element > .document {
    font-family: var(--btn-font);
    font-size: 1rem;
    color: #00537A;
    line-height: 1.188rem;
}

.user_img {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    border-radius: 6.25rem;
}

.user_name {
    font-family: var(--btn-font);
    font-size: 0.75rem;
    color: #FFBA42;
    margin: 0;
}

.toggle_container {
    display: flex;
}

.toggle_btn {
    background-color: #FFFFFF;
    border-radius: 0.625rem;
    text-align: center;
    padding: 0.3125rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #9FAEB6;
}

.toggle_btn:hover {
    color: #00537A;
}

.toggle_btn i{
    padding: 0.625rem;
}

.toggle {
    position: absolute;
    top: 4rem;
    right: 4.8125rem;
    flex-direction: column;
    background: white;
    /* border: solid 0.0625rem var(--text-color); */
    line-height: 1.3125rem;
    border-radius: 0.25rem;
    padding: 0.4rem 0.8rem;
    flex-direction: column;
    font-size: 0.875rem;
    font-family: var(--btn-font);
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    display: flex;
}

.toggle a {
    color: #9FAEB6;
    padding-bottom: 0.3125rem;
    padding: 0.5rem 1.5rem;
}

.toggle a:hover {
    color: #00537A;
}

.toggle a:not(:nth-child(3)) {
    border-bottom: solid 0.0625rem #9FAEB6;
}

.alarm_toggle {
    position: absolute;
    top: 4rem;
    right: 10.625rem;
    background: white;
    line-height: 1.3125rem;
    border-radius: 0.25rem;
    padding: 0.4rem 0.8rem;
    flex-direction: column;
    font-size: 0.875rem;
    font-family: var(--btn-font);
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    width: 21.5rem;
    height: 14.5rem;
    overflow-y: scroll;
}

.alarm_toggle::-webkit-scrollbar {
    width: 0.625rem;
}
.alarm_toggle::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0.625rem;
    background-clip: padding-box;
    border: 0.125rem solid transparent;
}
.alarm_toggle::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: inset 0rem 0rem 0.3125rem white;
}

.alarm_toggle > .alarm_element {
    width: 100%;
    border-bottom: solid 0.0625rem #b7c6ce;
    color: #00537A;
    padding: 0.9375rem;
    margin: 0rem;
    border-radius: 0rem;
    text-align: left;
}

