* {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --border-color: #CEC4B3;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --border-radius: 0.5rem;
}

/* 반응형 웹 구분할 거 있으면 여기에 넣기 */

/* @media only screen and (max-width: 47.9375rem) {
    .container > .form_container {
        padding: 1.5rem;
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (min-width:48rem) {
    .container > .form_container {
        padding: 1.5rem;
        display: flex;
        width: 37.5rem;
        height: 30rem;
        border: 0.0625rem solid var(--border-color);
        border-radius: 0.5rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
} */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

html, body {
    background: #FFD358;
    font-family: 'Pretendard-Regular';
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container {
    width: 31.25rem;
    height: 35.625rem;
    background: #FFFFFF;
    box-shadow: 0.625rem 0.625rem 0.25rem 0.25rem rgba(0, 0, 0, 0.04);
    border-radius: 1.25rem;
}

.login_text {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    line-height: 1.8125rem;
    text-align: center;
    color: #00537A;
    width: 100%;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    border-bottom: 0.0625rem solid #E5E5E5;
}

.login_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.875rem;
    text-decoration: none;
    font-family: 'Pretendard-ExtraBold';
    font-size: 1.625rem;
    line-height: 1.875rem;
    text-align: center;
    color: #00537A;
}

.login_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.login_container {
    width: 23.6875rem;
}

#id_username,
#id_password {
    width: 100%;
    height: 3.125rem;
    padding: 1rem;
    background: rgba(241, 241, 241, 0.6);
    border: none;
    margin-bottom: 1.5rem;
    border-radius: 0.625rem;
}

#id_username:focus,
#id_password:focus {
    outline: none;
}

/* ::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder {
    font-family: 'Pretendard-Regular';
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #C4C4C4;
} */

::-webkit-input-placeholder {
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #C4C4C4;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #C4C4C4;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #C4C4C4; 
}

:-ms-input-placeholder {  
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #C4C4C4;
}

.error_message {
    font-family: 'Pretendard-SemiBold';
    font-size: 0.875rem;
    text-align: center;
    color: #62A1BF;
    margin-bottom: 1.125rem;
}

.login_btn {
    width: 23.6875rem;
    height: 3.125rem;
    background: #FFE59C;
    border-radius: 1.25rem;
    border: none;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    text-align: center;
    color: #FFBA42;
    font-family: 'Pretendard-SemiBold';
    cursor: pointer;
    margin-bottom: 1.25rem;
}

.login_btn:hover {
    background: #FFBA42;
    color: white;
    border: 0.125rem solid #FFBA42;
}

.social_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 23.6875rem;
    height: 3.125rem;
    margin: auto;
    color: #585858;
    font-size: 1rem;
    line-height: 1.4375rem;
    font-family: 'Pretendard-SemiBold';
}

.social_login svg rect:hover {
    fill:#FFBA42;
}

.github {
    text-decoration: none;
}

.github svg:hover {
    fill:#FFBA42;
}

.naver {
    margin-left: 1.8125rem;
    margin-right: 0.3125rem;
    text-decoration: none;
}

.login_question_none h4,
.login_question_forget h4 {
    line-height: 2rem;
}

.login_question_none,
.login_question_forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 23.6875rem;
    margin: auto;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    color: #585858;
    font-size: 1rem;
    line-height: 1.4375rem;
    font-family: "Pretendard-SemiBold";
}

.login_question_none > a,
.login_question_forget > a {
    color: #62A1BF;
    text-decoration: underline;
    text-underline-position: under;
}

.login_question_none > a:hover,
.login_question_forget > a:hover {
    color: #00537A;
    text-decoration: underline;
    text-underline-position: under;
}


