
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --logo-color: #CEC4B3;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
}

body {
    padding: 3rem
}

/* modal창 */
.hidden {
    display: hidden;
}

.point_modal {
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    display: none;
    position: absolute;
    bottom: -70%;
    left: 38%;

    width: 400px;
    height: 600px;

    padding: 40px;

    overflow: scroll;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transition-timing-function: ease-in;
    transition-duration: 1s;
    
}

.follow_modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.follow_body {
    display: none;
    position: absolute;
    bottom: 10%;
    left: 32%;

    width: 500px;
    height: 600px;

    padding: 40px;

    overflow: scroll;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transition-timing-function: ease-in;
    transition-duration: 1s;
}


.follow_body h3 {
    font-family: var(--btn-font);
    font-size: 1rem;
    color: var(--text-color);
    font-family: var(--btn-font);
}

.follow_desc h4 {
    font-size: 0.825rem;
    font-family: var(--content-font);
    font-weight: 300;
    color: var(--text-color);
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow_list {
    display: flex;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.follow_image {
    object-fit: cover;
    border-radius: 10px;
    border-top: 1px solid rgb(248, 249, 250);
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.follow_desc {
    margin-left: 10px;
    padding: 10px;
}

.container_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 140px;
    padding: 2rem;
}

.my_container {
    width: 33%;
    height: 90vh;
    padding: 1rem;
    justify-content: flex-start;
    margin: 10px 5px;

}

.first_container {
    flex-direction: column;
    border: solid 1px var(--border-color);
    border-radius: 8px;
}

.profile_username {
    display: flex;
    align-items: center;
}

.profile_username i {
    margin-right: 8px;
    vertical-align: middle;
    color: var(--logo-color);
}

.user_nickname {
    margin-left: 10px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--content-font);
    font-size: 0.825rem;
}

.profile_image {
    margin-left: 10px;
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
}

.profile_image img {
    width: 40px;
    border-radius: 20px;
}



.follow_area button {
    font-family: var(--btn-font);
    color: var(--text-color);
    border: solid 1px var(--border-color);
    border-radius: 4px;
    background: white;
    width: 10em;
    height: 32px;
}

.follow_btn_area {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
}

.list_btn {
    border: solid 1px var(--border-color);
    width: 90%;
    height: 60px;
    background: floralwhite;
    margin: 10px;
    display: block;
    margin: 20px auto;
    border-radius: 2px;
    font-family: var(--btn-font);
    color: var(--text-color);
}

.list_btn:hover {
    border: solid 1px var(--border-color);
    width: 91%;
    height: 60px;
    background: var(--btn-color);    
    margin: 20px auto;
    transition: 0.4s;
}
.list_btn:active {
    border: solid 1px var(--border-color);
    width: 91%;
    height: 60px;
    background: var(--hover-color);
    margin: 20px auto;
    transition: 0.2s;
}

.empty_img {
    border-radius: 10px;
    width: 40px;
    background-color: bisque;
}

.list_btn a {
    display: block;
}

.category_tab {
    display: flex;
    width: 100%;
    height: 10rem;
}

.carousel-indicator {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.carousel-indicator ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.carousel-indicator button {
    font-size: 1rem;
    font-family: var(--btn-font);
    color: var(--text-color);
    height: 30px;
    display: flex;
    justify-content: space-around;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    align-items: center;
    width: 30%;
    padding: 1rem 2rem;
    text-indent: 0;
    cursor: pointer;
    background-color: floralwhite;
    /* border: 1px solid #fff; */
    border-radius:4px;
}
.carousel-indicator button:active {
    font-size: 1rem;
    font-family: var(--btn-font);
    color: var(--text-color);
    height: 30px;
    display: flex;
    justify-content: space-around;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    align-items: center;
    width: 30%;
    padding: 1rem 2rem;
    text-indent: 0;
    cursor: pointer;
    background-color: floralwhite;
    /* border: 1px solid #fff; */
    border-radius:4px;
}



.second_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.directory_box {
    display: block;
    height: 30vh;
    padding: 1rem;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    justify-content: flex-start;
    width: 100%;
    overflow: scroll;

}


.folder_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-family: var(--btn-font);
    justify-content: space-around;
}

.folder_icon {
    color: var(--text-color);
}

.folder_name {
    font-family: var(--btn-font);
    text-align: center;
    color: var(--text-color);
    margin-top: 4px;
}

.folder_space {
    display: flex;
    margin: 4px;
    margin: 0.825rem;
    flex-direction: column;
    align-items: center;
}

.third_container {
    border: solid 1px var(--border-color);
    border-radius: 8px;
}


.last_log_box{
    display: block;
    padding: 1rem;
    border-radius: 8px;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
    height: 100%;
    border: solid 1px var(--border-color);
    border-radius: 8px;
}

.last_question_list {
    display: none;
    border-top: solid 1px var(--border-color);
    padding: 20px;
    width: 100%;
    font-size: 0.825rem;
    border-bottom: solid 1px var(--border-color);
    font-family: var(--content-font);
    color: var(--text-color);
}

.snad_level_area .level_badge img {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 24px;
    padding: 2px;
    height: 28px;
    margin: 0.875rem 0;
}

.level_badge a {
    color: var(--sand-color);
    font-family: var(--content-font);
}
.level_badge a:hover {
    text-align: none;
    color: var(--sand-color);
    font-family: var(--btn-font);
}

a.badge_img .level_modal {
    position: absolute;
    top: 5rem;
    left: 5.2rem;
    width: 20%;
    background: #F8F8F8;
    border-radius: 8px;
    border: solid 1px var(--border-color);
    padding: 10px;
    z-index: 1000000;
    display: inline;
    opacity: 0;
    visibility: hidden;
    transition: 750ms all;
}
a.badge_img:hover .level_modal{
    outline: none;
    text-decoration: none;
    font-size: 70%;
    color: #000;

    visibility: visible;
    opacity: 1;
}

.level_modal span {
    font-size: 12px;
    color: var(--logo-color);
    margin-left: 5px;
    line-height: 2rem;
}
.level_modal p {
    color: var(--text-color);
    font-family: var(--content-font);
}