
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
}

body {
    padding: 3rem
}

/* modal창 */
.point_modal {
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    display: none;
    position: absolute;
    bottom: -70%;
    left: 38%;

    width: 400px;
    height: 600px;

    padding: 40px;

    overflow: scroll;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transition-timing-function: ease-in;
    transition-duration: 1s;
    
}

.follow_modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.follow_body {
    display: none;
    position: absolute;
    bottom: 10%;
    left: 32%;

    width: 500px;
    height: 600px;

    padding: 40px;

    overflow: scroll;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transition-timing-function: ease-in;
    transition-duration: 1s;
}


.follow_body h3 {
    font-family: var(--btn-font);
    font-size: 1rem;
    color: var(--text-color);
    font-family: var(--btn-font);
}

.follow_desc h4 {
    font-size: 0.825rem;
    font-family: var(--content-font);
    font-weight: 300;
    color: var(--text-color);
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow_list {
    display: flex;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.follow_image {
    object-fit: cover;
    border-radius: 10px;
    border-top: 1px solid rgb(248, 249, 250);
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.follow_desc {
    margin-left: 10px;
    padding: 10px;
}

.container_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 140px;
    padding: 2rem;
}

.container {
    width: 33%;
    height: 90vh;
    padding: 1rem;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    justify-content: flex-start;
    margin: 10px;

}

.first_container {
    flex-direction: column
}

.profile_username {
    display: flex;
    align-items: center;
}

.user_nickname {
    margin-left: 10px;
}

.profile_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile_area {
    width: 300px;
    display: flex;
    height: 14em;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--content-font);
    font-size: 0.825rem;
}

.profile_image {
    margin-left: 10px;
    font-size: 0.825rem;
    color: var(--text-color);
    font-family: var(--content-font);
    display: flex;
    align-items: center;
}

.profile_image img {
    width: 40px;
    border-radius: 20px;
}



.follow_area button {
    font-family: var(--btn-font);
    color: var(--text-color);
    border: solid 1px var(--border-color);
    border-radius: 4px;
    background: white;
    width: 10em;
    height: 32px;
}

.follow_btn_area {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
}

.list_btn {
    border: solid 1px var(--border-color);
    width: 90%;
    height: 60px;
    background: floralwhite;
    margin: 10px;
    display: block;
    margin: 20px auto;
    border-radius: 2px;
    font-family: var(--btn-font);
    font-size: 1.25rem;
    color: var(--text-color);
}

.list_btn:hover {
    border: solid 1px var(--border-color);
    width: 300px;
    height: 60px;
    background: var(--btn-color);    
    margin: 20px auto;
    transition: 0.5s;
}
.list_btn:active {
    border: solid 1px var(--border-color);
    width: 300px;
    height: 60px;
    background: var(--hover-color);
    margin: 20px auto;
    transition: 0.2s;
}

.empty_img {
    border-radius: 10px;
    width: 40px;
    background-color: bisque;
}



.list_btn a {
    display: block;
}

.second_container {
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
}

.directory_box {
    display: hidden;
    height: 30vh;
    width: 33%;
    padding: 1rem;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
    border: solid 1px var(--border-color);
    border-radius: 8px;

}

.last_log_box{
    padding: 1rem;
    border-radius: 8px;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
    height: 100%;
    border: solid 1px var(--border-color);
    border-radius: 8px;
}

.last_question_list {
    display: none;
    border-top: solid 1px var(--border-color);
    padding: 20px;
    width: 100%;
    font-size: 0.825rem;
    border-bottom: solid 1px var(--border-color);
    font-family: var(--content-font);
    color: var(--text-color);
}
.folder_area {
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--btn-font);
    display: none;
}

.folder_icon {
    color: var(--text-color);
}

.folder_name {
    font-family: var(--btn-font);
    text-align: center;
    color: var(--text-color);
    margin-top: 4px;
}

.folder_space {
    margin: 4px;
    margin: 1rem;
}


/* 슬라이더 탭 */
/* 
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
  }
  body {
    line-height: 1.5;
    font-family: "futura-pt", 'Century Gothic', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #fff;
    background: #1a1a1a;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav {
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nav--active {
    transform: translateY(0);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    flex: 1;
    position: relative;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nav__item:hover {
    opacity: 0.75;
  }
  .nav__thumb {
    display: block;
    height: 80px;
    background: #dc143c;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nav__thumb:before {
    content: attr(data-letter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-transform: uppercase;
    opacity: 0;
  }
  .nav__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e6e6e6;
    margin: 0;
  }
  @media (max-width: 850px) {
    .nav__label {
      font-size: 14px;
    }
  }
  @media (max-width: 720px) {
    .nav__label {
      display: none;
    }
    .nav__thumb {
      height: 60px;
    }
    .nav__thumb:before {
      font-size: 24px;
      opacity: 0.7;
    }
  }
  .page {
    height: 100vh;
    will-change: transform;
    perspective: 400px;
    overflow: hidden;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .section {
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    transform: translateX(100%);
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .section--hidden {
    transform: translateX(-100%);
  }
  .section--active {
    transform: translateX(0) rotateY(0);
    z-index: 2;
  }
  .section__wrapper {
    width: 100%;
    max-width: 800px;
    padding: 0 8vw;
    position: relative;
  }
  .section__title {
    margin: 0 0 25px 0;
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .section__title:before {
    content: '';
    position: absolute;
    top: 5rem;
    left: 45%;
    margin: auto;
    width: 10%;
    height: 2px;
    background: #fff;
  }
  @media (max-width: 720px) {
    .section__title {
      font-size: 28px;
    }
    .section__title:before {
      top: 3.25rem;
    }
  }
  .section p {
    margin: 0 0 25px 0;
    font-family: 'Georgia';
    font-size: 18px;
    color: #fff;
    opacity: 0.55;
  }
  @media (max-width: 720px) {
    .section p {
      font-size: 16px;
    }
  }
  .section p:last-child {
    margin-bottom: 0;
  }

  .logo {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 2;
  }
  @media (max-width: 720px) {
    .logo {
      top: 110px;
      right: 50%;
      margin-right: -20px;
    }
  }
  .logo img {
    width: 45px;
    transform: rotate(0);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .logo img:hover {
    transform: rotate(180deg) scale(1.1);
  }
   */