
* {
    box-sizing: border-box;
}
:root {
    --border-color: #CEC4B3;
    --btn-color: #FFF8CA;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --hover-color: #FFEF9C;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
    font-family: var(--title-font);
}

body {
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
}


.container {
    display:flex;
    justify-content: center;
}

.form_container {
    padding: 50px;
    display: flex;
    width: 90%;
    justify-content: center;
}

.create_title {
    display:flex;
    margin-top: 160px;
    justify-content: center;
}

.create_title h1 {
    font-size: 38px;
}

.thumbnail_area {
    flex-direction: column;
    height: 18em;
    width: 835px;
    margin: 10px 0px;
    font-family: var(--content-font);
    color: var(--text-color);
    border: solid 1px var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: -1; */
}

.thumbnail_area label {
    width: 100%;
    height: 100%;
}

#image {
    height: 100%;
    width: 100%;
    background-image: url('../image/thumbnail_image.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    
}

#id_image {
    width: 100%;
    height: 100%;
    display: none;
}

#id_title {
    display: flex;
    height: 60px;
    width: 835px;
    padding: 5px 7px; 
    font-family: var(--btn-font);
    font-size: 1em;
    border: solid 1px var(--border-color);
    margin-bottom: 10px;

}

#id_error_message {
    display: flex;
    height: 60px;
    width: 835px;
    padding: 5px 7px; 
    font-family: var(--btn-font);
    border: solid 1px var(--border-color);
    margin: 10px 0px;
    font-size : var(--btn-font);
}

.choice_area {
    font-family: var(--btn-font);
    display: flex;
    justify-content: space-between
}

.choice_area select {
    width: 10em;
    height: 44px;
    border: solid 1px var(--border-color);
    font-family: var(--content-font);
    font-size: 1em;
    color: var(--text-color);
}

.choice_area :not(:first-child) {
    margin-left: 20px;
}

#id_desc {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.tag_area {
    margin: 20px 0px;
    font-family: var(--btn-font);
}

#id_tag {
    width: 30em;
    height: 44px;
    border: solid 1px var(--border-color);
    border-radius: 4px;
}

.tag_label {
    margin: 0 20px;
}

.btn_area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btn_control {
    border: solid 1px var(--sand-color);
    background-color: var(--btn-color);
    font-size: 1.25em;
    border-radius: 8px;
    padding: 15px 40px;
    color: var(--sand-color);
    font-family: var(--btn-font);
    text-decoration: none;
}

.btn_control a {
    text-decoration: none;
    
}

.btn_control a:active {
    color:whitesmoke;
    background-color: var(--hover-color);
}

.btn_control a:visited {
    color: var(--sand-color);
}
