* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --border-color: #CEC4B3;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@keyframes up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(40%);
    }
}

html, body {
    background-color: rgb(248, 249, 250);
}

.main_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:  */
}

.service_desc {
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 64px;
    background: #FFD358;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    width: 333px;
    height: 202px;
    margin: 0 200px 0 0;
}

.desc h1 {
    font-family: 'Pretendard-ExtraBold';
    font-size: 2rem;
    line-height: 2.313rem;
    color: #0B1E33;
    font-weight: bold;
    margin-bottom: 30px;
}

.desc h3 {
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2rem;
    color: #0B1E33;
}

.desc_card {
    width: 308px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 50px;
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    line-height: 2rem;
}

.card_container {
    margin-top: 581px;
}

.link_list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 514px;
    background: #FFFFFF;
}

.link_list > a {
    text-decoration: none;
    color: #9FAEB6;
    font-family: 'Pretendard-SemiBold';
    font-size: 1.5rem;
    text-align: center;
    margin: 80px;
}

.helped:hover {
    color: #00537A;
}

.scrap:hover {
    color: #00537A;
}

.recent:hover {
    color: #00537A;
}

.follow:hover {
    color: #00537A;
}

.post_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
}

.post_container a {
    padding: 10px 20px;
    color: var(--text-color);
    font-family: var(--btn-font);
    background-color: var(--hover-color);
}

.post_card {
    width: 300px;
    height: 360px;
    background: white;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.04);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.post_card:hover {
    transform: translateY(-15px);
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.post_image {
    display: block;
    width: 100%;
    height: 160px;
    position: relative;
}

.post_image_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 160px;
    display: block;
    object-fit: cover;
}

.none_image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}
.post_element {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 165px;
}

.post_link {
    margin-top: 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: 300px;
    height: 165px;
}

.post_title {
    font-family: 'Pretendard-SemiBold';
    color: #585858;
    font-size: 1rem;
    /* text-overflow: ellipsis; */
    height: 30px;
    margin: 20px 0 10px 0;
    line-height: 1.75rem;
}

.post_desc {
    font-family: 'Pretendard-Regular';
    color: #585858;
    font-size: 0.813rem;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    overflow: hidden;
}

.post_title_img_none {
    font-family: 'Pretendard-SemiBold';
    color: #585858;
    font-size: 1rem;
    text-overflow: ellipsis;
    height: 30px;
    margin: 10px 0 10px 0;
    line-height: 1.75rem;
}

.post_desc_img_none {
    font-family: 'Pretendard-Regular';
    color: #585858;
    font-size: 0.813rem;
    text-overflow: ellipsis;
    line-height: 1.25rem;
}
.line_flex {
    display: flex;
    justify-content: center;
}

.post_user_line {
    border-top: 1px solid rgba(219, 214, 199, 0.35);
    width: 262px;
    text-align: center;    
}

.post_user {
    display: flex;
    font-size: 0.75rem;
    -webkit-box-pack: justify;
    justify-content: center;
}

.user_info {
    text-decoration: none;
    color: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: auto;
}

.user_info_image {
    object-fit: cover;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 1rem;
    border: 0.1px solid #C4C4C4;
}

.user_info_left {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.comments {
    font-family: 'Pretendard-Regular';
    color: #8C8D8D;
    font-size: 0.75rem;
}

.comments:hover {
    color: #585858;
}

.username {
    font-family: 'Pretendard-Regular';
    font-size: 0.75rem;
}

.likes {
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.likes_flex {
    display: flex;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    font-size: 0.75rem;
    line-height: 1rem;
    color: #00537A;
    text-align: left;
}

.scrap_num {
    margin-left: 10px;
}

.helped_num {
    margin-left: 10px;
}