* {
    box-sizing: border-box;
}

:root {
    --border-color: #CEC4B3;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@keyframes up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(40%);
    }
}

html, body {
    /* background-color: red; */
}

.main_container {
    width: 768px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.input_container {
    width: 768px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

.input_form {
    display: flex;
    border: 1px solid rgb(173, 181, 189);
    border-radius: 5px;
    -webkit-box-align: center;
    align-items: center;
    cursor: text;
    height: 4rem;
    padding: 0px 1.5rem;
    margin-bottom: 1.5rem;
}

.input_form input {
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2rem;
    flex: 1 1 0%;
    display: block;
    padding: 0px;
    border: none;
    outline: 0px;
    color: rgb(73, 80, 87);
    min-width: 0px;
}

.input_form svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.25rem;
}

.choice_container {
    width: 768px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

.choice_box {
    display: flex;
    align-items: center;
    cursor: text;
    height: 4rem;
    padding: 0px 1.5rem;
    margin-bottom: 1.5rem;
}

.choice_select {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 1rem;
}

.choice_select select {
    padding: 5px;
}

.search_container {
    width: 768px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.post_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
