* {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --border-color: #CEC4B3;
    --sand-color: #D1AF00;
    --text-color: #4E4E4E;
    --title-font: 'Pretendard-ExtraBold';
    --content-font: 'Pretendard-Regular';
    --btn-font: 'Pretendard-SemiBold';
    --border-radius: 8px;
}

/* 반응형 웹 구분할 거 있으면 여기에 넣기 */

/* @media only screen and (max-width: 767px) {
    .container > .form_container {
        padding: 1.5rem;
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (min-width:768px) {
    .container > .form_container {
        padding: 1.5rem;
        display: flex;
        width: 600px;
        height: 480px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
} */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

html, body {
    background: #FFD358;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container {
    width: 31.25rem;
    height: 42.375rem;
    background: #FFFFFF;
    box-shadow: 0.625rem 0.625rem 0.25rem 0.25rem rgba(0, 0, 0, 0.04);
    border-radius: 1.25rem;
}

.signup_text {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    line-height: 1.8125rem;
    text-align: center;
    color: #00537A;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #E5E5E5;
}

.signup_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.875rem;
    text-decoration: none;
    font-family: 'Pretendard-ExtraBold';
    font-size: 1.625rem;
    line-height: 1.875rem;
    text-align: center;
    color: #00537A;
}

.signup_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.signup_container {
    width: 23.6875rem;
}

.input_password_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_password_container div {
    /* margin: auto; */
}

#id_username,#id_email,
#id_user_nickname, #id_password1,
#id_password2 {
    width: 100%;
    height: 50px;
    padding: 16px;
    background: rgba(241, 241, 241, 0.6);
    border: none;
    margin-bottom: 24px;
    border-radius: 10px;
}

#id_username:focus, #id_email:focus,
#id_user_nickname:focus, #id_password1:focus,
#id_password2:focus {
    outline: none;
}

::-webkit-input-placeholder {
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4; 
}

:-ms-input-placeholder {  
    font-family: 'Pretendard-Regular';
    text-align: start;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}

.error_message {
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
    text-align: center;
    color: #62A1BF;
    margin-bottom: 18px;
}

.login_btn {
    width: 23.6875rem;
    height: 3.125rem;
    background: #FFE59C;
    border-radius: 1.25rem;
    border: none;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFBA42;
    font-family: 'Pretendard-SemiBold';
    cursor: pointer;
    margin-bottom: 20px;
}

.login_btn:hover {
    background: white;
    color: #FFBA42;
    border: 2px solid #FFBA42;
}

.social_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 379px;
    height: 50px;
    margin: auto;
    font-family: 'Pretendard-SemiBold';
    color: #585858;
    font-size: 1rem;
    line-height: 1.4375rem;
}

.github {
    text-decoration: none;
}

.naver {
    margin-left: 29px;
    margin-right: 5px;
    text-decoration: none;
}

.signup_question,
.login_question_forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 379px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 16px;
    color: #585858;
    font-size: 1rem;
    line-height: 1.4375rem;
}

.signup_margin {
    margin-bottom: 10px;
}

.signup_question > a,
.login_question_forget > a {
    color: #62A1BF;
    text-decoration: underline;
    text-underline-position: under;
}

.signup_question > a:hover,
.login_question_forget > a:hover {
    color: #00537A;
    text-decoration: underline;
    text-underline-position: under;
}


