{% extends 'questions/base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/questions/answer_create.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="form_container">
        <div class="create_title">
            <h1>답변 남기기</h1>
        </div>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ form.media }}
            {{ form.title }}
            <div class="desc_area">
                {{ form.desc }}
            </div>
            <div class="btn_area">
                <button class="btn_control">임시저장</button>
                <input type="submit" value="답변 남기기" class="btn_control" />
                <button class="btn_control">
                    <a href="{% url 'question:question_main' %}">나가기</a>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}