{% extends 'questions/base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/questions/answer_create.css' %}">
<link href="ckeditor/plugins/codesnippet/lib/highlight/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="ckeditor/plugins/codesnippet/lib/highlight/highlight.min.js"></script>
{% endblock %}

{% block content %}
<div class="main_container">
    <div class="container">
        <div class="create_title">
            <h1>답변 남기기</h1>
        </div>
        <div class="form_container">
            <form method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {{ form.media }}
                {{ form.title }}
                <div class="desc_area">
                    {{ form.desc }}
                </div>
                <div class="btn_area">
                    <input type="submit" value="답변 남기기" class="btn_input" />
                    <a class="btn_control" href="{% url 'question:question_main' %}">
                        <span>나가기</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}