{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <nav class="nav">
        <div class="nav_left">
            <div class="nav_vertical">
                <div class="vertical_element">
                    <a href="{% url 'posts:main' %}"><h6>삽질모음</h6></a>
                </div>
            </div>
            <div class="nav_vertical">
                <div class="vertical_element">
                    <a href="{% url 'question:question_create' %}"><h6>질문하기</h6></a>
                </div>
            </div>
        </div>

        <div class="nav_center">
            <a class="nav_main_title" href="{% url 'question:question_main' %}">질문광장</a>
        </div>
        {% if user.is_authenticated %}
            <div class="toggle" style="display: none;">
                <a href="{% url 'users:my_page' user.id %}">내 디렉토리</a>
                <a href="{% url 'users:account_detail' user.id %}">계정 설정</a>
                <a href="{% url 'users:logout' %}">로그아웃</a>
            </div>
        {% endif %}  
        <div class="nav_right">
            {% if user.is_authenticated %}
                <a href="{% url 'posts:search' %}" class="nav_search"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.3243 4.98201C14.3159 6.97369 14.3159 10.2028 12.3243 12.1945C10.3326 14.1862 7.10345 14.1862 5.11177 12.1945C3.1201 10.2028 3.1201 6.97369 5.11177 4.98201C7.10345 2.99034 10.3326 2.99034 12.3243 4.98201ZM14.8612 12.8929C16.9167 9.96687 16.6367 5.90038 14.0213 3.28496C11.0924 0.356024 6.34365 0.356024 3.41472 3.28496C0.485785 6.21389 0.485785 10.9626 3.41472 13.8916C6.07942 16.5563 10.2504 16.7967 13.1869 14.6127L17.8336 19.2595C18.3022 19.7281 19.062 19.7281 19.5307 19.2595C19.9993 18.7908 19.9993 18.031 19.5307 17.5624L14.8612 12.8929Z" ></path></svg></a>
                <div class="nav_vertical">
                    <div class="alarm vertical_element" onclick="alarmMessage()" value="{{user.id}}">
                        <a ><svg width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 19C11.1 19 12 18.1 12 17H8C8 18.1 8.89 19 10 19ZM16 13.2727V8.72727C16 5.93636 14.36 3.6 11.5 2.98182V2.36364C11.5 1.60909 10.83 1 10 1C9.17 1 8.5 1.60909 8.5 2.36364V2.98182C5.63 3.6 4 5.92727 4 8.72727V13.2727L2 15.0909V16H18V15.0909L16 13.2727Z"></path></svg></a>
                    </div>
                    <!-- 알람이 뜨는 공간 -->
                    <div class="alarm_toggle" style="display: none;">
                        
                    </div>
                </div>
                
                <div class="toggle_container">
                    <button class="toggle_btn" onclick="toggleBtn()" href="{% url 'users:my_page' user.id %}">
                        <img class="user_img" src="{{ user.user_profile_image.url }}">
                        <i class="fas fa-caret-down fa-lg"></i>
                    </button>
                </div>
            {% else %}
                <div class="nav_vertical">
                    <div class="vertical_element">
                        <a href="{% url 'posts:main' %}"><h6>삽질모음</h6></a>
                    </div>
                </div>
                <div class="nav_vertical">
                    <div class="vertical_element">
                        <a href="{% url 'users:login' %}"><h6>로그인</h6></a>
                    </div>
                </div>
                <div class="nav_vertical">
                    <div class="vertical_element">
                        <a href="{% url 'users:signup' %}"><h6>회원가입</h6></a>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav> 
    {% block content%}
    {% endblock %}
</body>
{% block script %}
{% endblock %}    
</html>