{% extends 'questions/base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/questions/main.css' %}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs2015.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript">hljs.highlightAll();</script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script src="{% static 'js/질문광장.js' %}"></script>

{% endblock %}
{% block content %}
<!-- 네비바 아래로 가게하는 컨테이너 -->
<div class="container">
    <div class="box_container">
        <!-- 클래스명은 오른쪽이지만 사실 왼쪽에 있는 박스영역임 -->
        <div class="right_container">
            <div class="profile_area">
                <!-- 로그인 되었을 때 -->
                {% if user.is_authenticated %}
                    <div class="profile_username">
                        <div class="profile_image">
                            <img src="{{ request.user.user_profile_image.url}}" width="50" height="50">
                        </div>
                        <div class="user_desc">
                            <a href="{% url 'users:my_page' request.user.id %}" class="user_nickname">{{ request.user.user_nickname }}님의 모래상자</a>
                            {% if request.user.user_profile_content %}
                            <p>{{request.user.user_profile_content|truncatechars:40}}</p>
                            {% else %}
                            <p>아직 자기소개가 없습니다.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="user_level">
                        {% if request.user.user_level == 0 %}
                        <span class="sand_level">Lv. {{request.user.user_level}} 맨바닥</span>
                        {% elif request.user.user_level == 1 %}
                        <span class="sand_level">Lv. {{request.user.user_level}} 모래성</span>
                        {% elif request.user.user_level == 2 %}
                        <span class="sand_level">Lv. {{request.user.user_level}} 벽돌집</span>
                        {% else %}
                        <span class="sand_level">Lv. {{request.user.user_level}} 아파트</span>
                        {% endif %}
                    </div>
                    <div class="point_gage">
                        {% if request.user.user_level == 0 %}
                        <meter id="value_low" min="0" max="2000" low="500" high="1000" optimum="1500"
                            value="{{my_sand_sum.amount__sum}}"></meter>
                        {% elif request.user.user_level == 1 %}
                        <meter id="value_low" min="2000" max="7000" low="4000" high="4000" optimum="5500"
                            value="{{my_sand_sum.amount__sum}}"></meter>
                        {% else %}
                        <meter id="value_low" min="7000" max="18000" low="10000" high="13000" optimum="16000"
                            value="{{my_sand_sum.amount__sum}}"></meter>
                        {% endif %}
                    </div>
                {% else %}
                <!-- 로그인 안했을 때 : 사실 로그인을 안하면 들어올수가 없음-->
                <div class="profile">
                    <div class="profile_username">
                        <a href="{% url 'users:login' %}" class="user_nickname">로그인<a>
                    </div>
                    <div class="proflie_text">
                        <p>
                            로그인 하고 질문을 남겨보세요.
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- 디렉토리영역 -->
            <div id="btn_tab">
                <button class="language_btn" value="{{user.id}}">언어</button>
                <button class="framework_btn" value="{{user.id}}">프레임워크</button>
            </div>
            <div class="folder_category_container">
                <div class="folder_category">
                    <div class="folder_area">
                        
                    </div>
                </div>
            </div>
            <div class="my_answer_container">
                <button class="accordion">내가 남긴 답변</button>
                <div class="panel answerabc">
                    {% for answers in answer %}
                    <a href="{% url 'question:question_post_detail' answers.question.user.id answers.question.id %}">
                        <div class="my_answer_list">
                            <div class="my_answer_title_box">
                                <span class="my_answer_title">{{answers.title|truncatechars:20}}</span>
                                <span class="my_answer_questioner">{{answers.answers.question_user.user_nickname}}님의 질문</span>
                            </div>
                            <div class="my_answer_desc">{{answers.desc|safe}}</div>
                            <span>{{answers.desc.image}}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- 클래스명은 왼쪽이지만 사실오른쪽에있는 박스영역임 -->
        <div class="left_container">
            <!-- 답변을 기다리는 질문 박스 -->
            <div class="no_answer_container">
                <div>
                    <h3 class="no_answer_titlebox">답변을 기다리는 질문들</h3>
                </div>
                <div class="scroll_box">
                    <div class="no_answer_list_box">
                        {% if not not_selected_questions|length %}
    
                        {% else %}
                        {% for post in not_selected_questions %}
                        <a href="{% url 'question:question_post_detail' post.user.id post.id %}">
                            <div class="no_answer_list" value="{{ i }}">
                                <div class="no_answer_titlebox">
                                    <div class="no_answer_title">{{post.title|truncatechars:20}}</div>
                                    <div class="no_user_info">
                                        <img src="{{ post.user.user_profile_image.url }}" width="28" height="28">
                                        <span class="no_answer_username">{{post.user.user_nickname}}</span>
                                    </div>
                                </div>
                                <span class="no_answer_desc">{{post.desc|safe|escape|truncatechars:80|striptags|cut:"&nbsp;"}}</span>
                                <span class="no_answer_username" id="imggg">{{post.desc.img}}</span>
                                <!--채택이 false인거만 나오게 한다.-->
                            </div>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- 답변 기다리는 질문박스 끝 -->
            <!-- 관심사에 따른 추천 박스 -->
            <div class="recommend_container">
                <div>
                    <h3>내가 관심있는 </h3>
                </div>
                <!-- 관심사목록선택 체크박스 -->
                <form action="" method="POST">
                    {%csrf_token%}
                    <div class="checkbox">
                        {% for languages in language %}
                        {% if languages == "==선택==" %}
                        
                        {% else %}
                        <div class="input_wrap">
                            <input type="checkbox" name="answers[]" id="answer1"
                            value={{languages}}>{{languages}}
                        </div>
                        {% endif %}
                        {%endfor%}
                    </div>
                    <button id="preference_btn" type="submit">관심사 설정</button>
                </form>
                <!-- 체크박스끝 -->
                <!-- 관심사에 따른 질문 목록들 -->
                <div class="recommend_list_box">
                    {% for post in posts%}
                    {% if str_search == "전체" %}
                    <a href="{% url 'question:question_post_detail' post.user.id post.id %}">
                        <div class="no_answer_list">
                            <div class="no_answer_titlebox">
                                <div class="no_answer_title">{{post.title|truncatechars:20}}</div>
                                <div class="no_user_info">
                                    <img src="{{ post.user.user_profile_image.url }}">
                                    <span class="no_answer_username">{{post.user.user_nickname}}</span>
                                </div>
                            </div>
                            <span class="no_answer_desc">{{post.desc|safe|escape|truncatechars:80|striptags|cut:"&nbsp;"}}</span>
                            <span class="no_answer_username" id="imggg">{{post.desc.img}}</span>
                        </div>
                    </a>
                    {% else %}
                    {%if str_search == post.language %}
                    <a href="{% url 'question:question_post_detail' post.user.id post.id %}">
                        <div class="no_answer_list">
                            <div class="no_answer_titlebox">
                                <div class="no_answer_title">{{post.title|truncatechars:20}}</div>
                                <div class="no_user_info">
                                    <img src="{{ post.user.user_profile_image.url }}">
                                    <span class="no_answer_username">{{post.user.user_nickname}}</span>
                                </div>
                            </div>
                            <span class="no_answer_desc">{{post.desc|safe|escape|truncatechars:80|striptags|cut:"&nbsp;"}}</span>
                            <span class="no_answer_username" id="imggg">{{post.desc.img}}</span>
                        </div>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- 왼쪽 영역 끝 -->
    </div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = 400 + "px";
                panel.style.overflow = scroll;
            }
        });
    }
</script>
<style>
    #imggg{
        display: none;
        opacity: 100;
        font-size: 0;
        display: hidden;
    }
</style>
{% endblock %}