{% extends 'base.html' %}
{% load static %}
{% block script %}
    <link rel="stylesheet" href="{% static 'css/questions/question_create.css' %}" />
    <link href="ckeditor/plugins/codesnippet/lib/highlight/styles/monokai-sublime.min.css" rel="stylesheet">
    <script src="ckeditor/plugins/codesnippet/lib/highlight/highlight.min.js"></script>
{% endblock script %}

{% block content %}
<div class="main_container">
    <div class="container">
        <div class="create_title">
            <h1>질문 남기기</h1>
            <br>
        </div>
        <div class="form_container">
            <form method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {{ form.media }}
                <div class="thumbnail_area">
                    <label for="id_image">
                        <img id="image" src="/static/image/thumbnail_image.svg" alt="" />
                    </label>
                    {{ form.image }}
                </div>
                {{ form.title }}
                <div class="choice_area">
                    <div class="choice_flex">
                        <span>언어</span>
                        {{ form.language }}
                    </div>
                    <div class="choice_flex">
                        <span>프레임워크</span>
                        {{ form.framework }}
                    </div>
                    <div class="choice_flex">
                        <span>운영체제</span>
                        {{ form.os }}
                    </div>
                </div>
                <div class="error_area">
                    {{ form.error_message }}
                </div>
                <div class="desc_area">
                    {{ form.desc }}
                </div>
                <div class="btn_area">
                    <input type="submit" value="기록 수정" class="btn_input"/>
                    <a class="btn_control" href="{% url 'question:question_main' %}">
                        <span>나가기</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('id_image').onchange = function () {
        var src = URL.createObjectURL(this.files[0])
        document.getElementById('image').src = src
    }
</script>
{% endblock content %}