{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/account_detail.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="top_box">
        <h1>계정설정</h1>
    </div>
    <div class="container">
        <!-- 상단 프로필 사진 변경하는곳 -->
        <div class="account_container">
            <div>
                <img class="user_profile_image" src="{{ host.user_profile_image.url }}" width="50">
                <h2 class="name">{{ host.user_nickname }}</h2>
            </div>
            <form method="POST" action="{% url 'users:change_img' host.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="new_img">
                    <input type="file" id="new_img" name="new_img" accept="image/*"> 
                </label>
                <button class="setting_btn"type="submit">프로필 이미지 변경</button>
            </form>
        </div>
        <!-- 프사 변경 영역 끝 -->
        <!-- 레벨 포인트 확인 영역 -->
        <div class="setting_list">
            {% if host.user_level == 0 %}
            <h3>Lv. {{host.user_level}} 맨바닥</h3>
            {% elif host.user_level == 1 %}
            <h3>Lv. {{host.user_level}} 모래성</h3>
            {% elif host.user_level == 2 %}
            <h3>Lv. {{host.user_level}} 벽돌집</h3>
            {% else %}
            <h3>Lv. {{host.user_level}} 아파트</h3>
            {% endif %}
            <div class="point_gage">
                <label for="value_low">{{my_sand_sum.amount__sum}} 모래</label>
                {% if host.user_level == 0 %}
                <meter id="value_low" min="0" max="2000" low="500" high="1000" optimum="1500"
                    value="{{my_sand_sum.amount__sum}}"></meter>
                {% elif host.user_level == 1 %}
                <meter id="value_low" min="2000" max="7000" low="4000" high="4000" optimum="5500"
                    value="{{my_sand_sum.amount__sum}}"></meter>
                {% else%}
                <meter id="value_low" min="7000" max="18000" low="10000" high="13000" optimum="16000"
                    value="{{my_sand_sum.amount__sum}}"></meter>
                {% endif %}
            </div>
        </div>
        <!-- desc설정하기 -->
        <div class="setting_list">
            <div class="my_content">
                <h3>자기소개</h3>
            </div>
            <div class="profile_content">
                <p>{{ host.user_profile_content }}</p>
                <form method="POST" action="{% url 'users:change_desc' host.id %}">
                    {% csrf_token %}
                    <div class="flex_row">    
                        <input class="new_desc" name="new_desc" autocomplete="off" maxlength='150' >
                        <button class="setting_btn" type="submit">변경하기</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="setting_list">
            <h3>이메일</h3>
            <p class="email">{{ host.email }}</p>
        </div>
        <div class="setting_list">
            <div class="user_nickname_change">
                <h3>닉네임 변경</h3>
                <form method="POST" action="{% url 'users:change_nickname' host.id %}">
                    {% csrf_token %}
                    <input name="new_nickname" autocomplete="off" >
                    <button class="setting_btn" type="submit"> 닉네임 변경하기 </button>
                </form>
            </div>
        </div>
        <div class="setting_list">
            <div class="user_password_change">
                <h3>비밀번호 변경</h3>
                <form method="POST" action="{% url 'users:change_pw' host.id %}">
                    {% csrf_token %}
                    <div class="password_input">
                        <input name="origin_password" type="password" placeholder="Origin Password">
            
                        <input class="login_input" name="password1" type="password" placeholder="New Password">

                        <input class="login_input" name="password2" type="password" placeholder="Confirm Password">
                    </div>
                    <button class="setting_btn" type="submit"> 비밀번호 변경하기 </button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
