<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    var Nav = (function() {
  
  var
    nav     = $('.nav'),
    section = $('.section'),
    link    = nav.find('.nav__link'),
    navH    = nav.innerHeight(),
    isOpen  = true,
    hasT    = false;
  
  var toggleNav = function() {
    nav.toggleClass('nav--active');
    shiftPage();
  };
  
  
  var switchPage = function(e) {
    var self = $(this);
    var i = self.parents('.nav__item').index();
    var s = section.eq(i);
    var a = $('section.section--active');
    var t = $(e.target);
    
    if (!hasT) {
      if (i == a.index()) {
        return false;
      }
      a
      .addClass('section--hidden')
      .removeClass('section--active');

      s.addClass('section--active');

      hasT = true;

      a.on('transitionend webkitTransitionend', function() {
        $(this).removeClass('section--hidden');
        hasT = false;
        a.off('transitionend webkitTransitionend');
      });
    }

    return false;
  };
  
  var keyNav = function(e) {
    var a = $('section.section--active');
    var aNext = a.next();
    var aPrev = a.prev();
    var i = a.index();
    
    
    if (!hasT) {
      if (e.keyCode === 37) {
      
        if (aPrev.length === 0) {
          aPrev = section.last();
        }

        hasT = true;

        aPrev.addClass('section--active');
        a
          .addClass('section--hidden')
          .removeClass('section--active');

        a.on('transitionend webkitTransitionend', function() {
          a.removeClass('section--hidden');
          hasT = false;
          a.off('transitionend webkitTransitionend');
        });

      } else if (e.keyCode === 39) {

        if (aNext.length === 0) {
          aNext = section.eq(0)
        } 


        aNext.addClass('section--active');
        a
          .addClass('section--hidden')
          .removeClass('section--active');

        hasT = true;

        aNext.on('transitionend webkitTransitionend', function() {
          a.removeClass('section--hidden');
          hasT = false;
          aNext.off('transitionend webkitTransitionend');
        });

      } else {
        return
      }
    }  
  };
    
  var bindActions = function() {
    link.on('click', switchPage);
    $(document).on('ready', function() {
       page.css({
        'transform': 'translateY(' + navH + 'px)',
         '-webkit-transform': 'translateY(' + navH + 'px)'
      });
    });
    $('body').on('keydown', keyNav);
  };
  
  var init = function() {
    bindActions();
  };
  
  return {
    init: init
  };
  
}());

Nav.init();
</script>
<body>
    
</body>
</html>

<nav class="nav nav--active">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="" class="nav__link">
          <div class="nav__thumb color1" data-letter="a"></div>
          <p class="nav__label">Awareness</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">
          <div class="nav__thumb color2" data-letter="e"></div>
          <p class="nav__label">Engagement</p>
        </a>
      </li>
    </ul>
     <a href="http://ettrics.com/" class="logo" target="_blank">
     <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" /> 
    </a>
  </nav>
  <div class="page">
    <section class="section section--active color1" data-letter="a">
      <article class="section__wrapper">
        <h1 class="section__title">Awareness</h1>
        <p>Use your 'left' and 'right' arrow keys to navigate.</p>
      </article>
    </section>
    <section class="section color2" data-letter="p">
      <article class="section__wrapper">
        <h1 class="section__title">Engagement</h1>
        <p>Use your 'left' and 'right' arrow keys to navigate.</p>
      </article>
    </section>
  </div>



  <div class="follow_modal">
    <div class="follow_body">
        <button>팔로잉{{ host_following|length }}명</button><button>팔로워{{ host_follower|length }}명</button>
        {% for following in host_following %}
        <div class="follow_list">
            {% if follower.user_profile_image.url %}
                <img class="follow_image" src="{{ following.user_profile_image.url }}" width="200">
            {% else %}
                <div class="follow_image" ></div>
            {% endif %}
            <div class="flex_col">
                <h3>{{following.user_level}}</h3>
                <h3>{{ following.username }}</h3>
            </div>
            <div class="follow_desc">
                <h3>{{ following.email }}</h3>
            </div>
        </div>
        {% endfor %}
        <!-- 팔로워 영역 -->
        {% for follower in host_follower %}
            <div class="follow_list">
                {% if follower.user_profile_image.url %}
                    <img class="follow_image" src="{{ follower.user_profile_image.url }}" width="200">
                {% else %}
                    <div class="follow_image" ></div>
                {% endif %}
                <div class="flex_col">
                    <h3>{{follower.user_level}}</h3>
                    <h3>{{ follower.username }}</h3>
                </div>
                <div class="follow_desc">
                    <h3>{{ follower.email }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</div>