{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
</head>
<!-- html required custom -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function (e) {
                e.target.setCustomValidity("빈칸 없이 모두 입력해주세욧!");
                if (!e.target.validity.valid) {
                    e.target.
                        e.target.setCustomValidity("");
                }
            };
            elements[i].oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    })
</script>

<body>
    <div class="container">
        <div class="form_container">
            <div class="login_top">
                <a href="#" class="login_logo">
                    <img class="login_logo" src="{% static 'users/login_logo.png' %}">
                </a>
                <div class="login_question">
                    <h4>회원이 아닌가요?</h4>
                    <a href="{% url 'users:signup' %}">회원가입하기</a>
                    <a href="">비밀번호 찾기</a>
                </div>
            </div>

            <div class="login_middle">
                <form action="" method="post" autocomplete="off" required>
                    {% csrf_token %}
                    <div class="login_input">
                        <div class="input_id">
                            <span class="input_label">아이디</span>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="login_input">
                        <div class="input_password">
                            <span class="input_label">비밀번호</span>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="error_message">
                        {% if form.non_field_errors %}
                        <span>{{form.non_field_errors}}</span>
                        {% endif %}
                        {% comment %}
                        {% if form.password.errors %}
                        <span>{{form.password.errors}}</span>
                        {% endif %}
                        {% endcomment %}
                    </div>
                    <button class="login_btn" type="submit">로그인하기</button>
                </form>
            </div>
            <div class="login_bottom">
                {% comment %}
                sns로그인자리
                {% endcomment %}
                <a href=" {% provider_login_url 'naver' %}">네이버 로그인</a>
                <a href=" {% provider_login_url 'naver' %}">네이버 로그인</a>
                {% include 'users/github_login.html' %}

                <a href="{% url 'users:password_reset' %}">비밀번호를 까먹었나여?</a>
            </div>
        </div>
    </div>

</body>

</html>