{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/my_page.css' %}">
{% endblock script %}

{% block content %}
<div class="container_box">
    <div class="first_container container">
        <div class="profile_container">
            {% if request.user.pk == host.pk %}
                <div class="profile_area">
                    <div class="profile_username">
                        {% if host.user_profile_image %}
                        <span class="profile_image">
                            <img src="{{ request.user.user_profile_image.url}}">
                        </span>
                        {% else %}
                            <div class="empty_img"></div>
                        {% endif %}
                        <span class="user_nickname">{{ request.user.username }}님의 모래상자<span>
                        <h4>
                    </div>
                        레벨 | {{user.user_level}} 단계
                    </h4>
                    <h4>
                        현재 모래 | {{user.user_point}} 포인트
                    </h4>
                    <div class="proflie_text">    
                    {% if request.user.user_profile_content %}    
                        {{request.user.user_profile_content}}
                    {% else %}
                        <p>
                            아직 자기소개가 없습니다.
                        </p>
                    {% endif %}
                    </div>
                    <div class="follow_area">
                        <div class="follow_btn_area">
                            <a href="{% url 'users:follow_list' user.id %}"><button class="follow_btn">팔로잉 {{request.user.user_following|length}}</button></a>
                            <a href="{% url 'users:follow_list' user.id %}"><button class="follow_btn">팔로워 {{request.user.user_followed|length}}</button></a>
                        </div>
                    </div>
                </div>
            {% else %}    
                <div class="profile_area">
                    <h1> {{ host.user_nickname}}님의 모래상자 </h1>
                </div>
                <a href = '{% url "users:follow" host.id%}'><button class="follow_btn">팔로우하기</button></a>
                <div class="follow_area">
                    <a href="{% url 'users:follow_list' %}"><button class="follow_btn">팔로잉 {{ host_following|length }}</button></a>
                    <a href="{% url 'users:follow_list' %}"><button class="follow_btn">팔로워 {{ host_follower|length }}</button></a>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="btn_list_area">
            <a href = '#'><button class="list_btn">삽질 기록 모음 > </button></a>
            <a href = '#'><button class="list_btn">질문 모음 > </button></a>
            <a href = '#}'><button class="list_btn">내가 남긴 답변 목록 > </button></a>
            <a href = '{% url "users:account_detail" host.id%}'><button class="list_btn">계정 관리 > </button></a>
        </div>
        <div class="sand_pour_area"></div>
    </div>
    <div class="second_container container">
        {{language_folders}}
    </div>
    <div class="third_container container"></div>

</div>
{% endblock %}