{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/my_page.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<script>
    const modal = document.querySelector('.point_modal');
    const modalBody = document.querySelector('.modal_body');
    const pointOpenPopup = document.querySelector('.point_gage');
    const body = document.querySelector('body');

    pointOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
        body.style.overflow = 'hidden';
        modalBody.style.display = 'block';
        modalBody.style.transform = 'translateY(-110%)'
    });

    modalBody.addEventListener('click', () => {
        modal.style.display = 'none';
        body.style.overflow = 'auto';
    })
</script>
<!-- 팔로우 모달 창 뜨기 -->
<script>
    const followModal = document.querySelector('.follow_modal');
    const followBody = document.querySelector('.follow_body');
    const followOpenPopup = document.querySelector('.follow_btn');

    followOpenPopup.addEventListener('click', () => {
        followModal.style.display = 'block';
        body.style.overflow = 'hidden';
        followBody.style.display = 'block';
    });

    followBody.addEventListener('click', () => {
        followModal.style.display = 'none';
        body.style.overflow = auto
    })
</script>
<!-- 삽질기록 디렉토리 영역 뜨게하기 -->
<script>
    const directoryBox = document.querySelector('.directory_box');
    const logFolderOpen = document.querySelector('#log_folder_btn');

    logFolderOpen.addEventListener('click', () => {
        if (directoryBox.style.display == 'hidden') {
            directoryBox.style.display = 'block';
        } else {
            directoryBox.style.display = 'hidden';
        }
    })
</script>
<!-- 최근 질문기록 뜨게하기 +이후에 질문 디렉토리 뜨는 것도 추가해야함 -->
<script>
    const lastQuestionList = document.querySelector('.last_question_list');
    const questionFolderOpen = document.querySelector('#question_folder_btn');

    logFolderOpen.addEventListener('click', () => {
        if (lastQuestionList.style.display == 'hidden') {
            lastQuestionList.style.display = 'block';
        } else {
            lastQuestionList.style.display = 'hidden';
        }
    })
</script>

{% endblock script %}

{% block content %}
<div class="container_box">
    <div class="point_modal">
        <div class="modal_body">
            <h2>내 포인트 기록</h2>
            {% for sand in my_all_sands %}
                <div class="log_box">
                    <p>{{sand.user}}</p>
                    <p>{{sand.amout}}</p>
                    <p>{{sand.reason}}</p>
                </div>
            {% endfor%}
        </div>
    </div>
    <!-- 팔로우모달창 -->
    <div class="follow_modal">
        <div class="follow_container follow_body">
            <div class="follower">
                <div class="follow_count">
                    <h3>{{request.user.username}}님을 팔로우하는 사람 </h3>
                    <h3>{{ host_follower|length }}명</h3>
                </div>
                {% for follower in host_follower %}
                <div class="follow_list">
                    {% if follower.user_profile_image %}
                        <img class="follow_image" src="{{ follower.user_profile_image.url }}" width="200">
                    {% else %}
                        <div class="follow_image" ></div>
                    {% endif %}
                    <div class="flex_col">
                        <h3>{{follower.user_level}}</h3>
                        <h3>{{ follower.username }}</h3>
                    </div>
                    <div class="follow_desc">
                        <h3>{{ follower.email }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="following">
                <div class="follow_count">
                    <h3>{{request.user.username}}님이 팔로우하는 사람 </h3>
                    <h3>{{ host_following|length }}명</h3>
                </div>
                {% for following in host_following %}
                <div class="follow_list">
                    {% if follower.user_profile_image %}
                        <img class="follow_image" src="{{ following.user_profile_image.url }}" width="200">
                    {% else %}
                        <div class="follow_image" ></div>
                    {% endif %}
                    <div class="flex_col">
                        <h3>{{following.user_level}}</h3>
                        <h3>{{ following.username }}</h3>
                    </div>
                    <div class="follow_desc">
                        <h3>{{ following.email }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 내 마이페이지 -->
    <div class="first_container my_container">
        <div class="profile_container">
            {% if request.user.pk == host.pk %}
                <div class="profile_area">
                    <div class="profile_username">
                        {% if host.user_profile_image %}
                            <span class="profile_image">
                                <img src="{{ host.user_profile_image.url}}">
                            </span>
                        {% else %}
                            <div class="empty_img"></div>
                        {% endif %}
                        <span class="user_nickname">{{ request.user.username }}님의 모래상자<span>
                    </div>
                    <p>
                        레벨 | {{host.user_level}} 단계
                    </p>
                    <div class="point_gage">
                        <label for="value_low">{{my_sand_sum.amount__sum}} 모래포인트</label>
                        <!-- max기준 레벨에 따라 if문으로 바뀌어야함(아직level넘겨주지 않아서 구현 X)  -->
                        {% if host.user_level == 0 %}
                        <meter id="value_low" min="0" max="2000" low="500" high="1000" optimum="1500" value="{{my_sand_sum.amount__sum}}"></meter>
                        {% elif host.user_level == 1 %}
                        <meter id="value_low" min="2000" max="7000" low="4000" high="4000" optimum="5500" value="{{my_sand_sum.amount__sum}}"></meter>
                        {% else%}
                        <meter id="value_low" min="7000" max="18000" low="10000" high="13000" optimum="16000" value="{{my_sand_sum.amount__sum}}"></meter>
                        {% endif %}
                    </div>
                    <div class="proflie_text">    
                    {% if request.user.user_profile_content %}    
                        {{request.user.user_profile_content}}
                    {% else %}
                        <p>
                            아직 자기소개가 없습니다.
                        </p>
                    {% endif %}
                    </div>
                    <div class="follow_area">
                        <div class="follow_btn_area">
                            <button class="follow_btn">팔로잉 {{request.user.user_following|length}}</button>
                            <button class="follow_btn">팔로워 {{request.user.user_followed|length}}</button>
                        </div>
                    </div>
                </div>
            {% else %}    
                <!-- 다른유저 마이페이지 -->
                <div class="profile_area">
                    <h1> {{ host.user_nickname}}님의 모래상자 </h1>
                </div>
                <a href = '{% url "users:follow" host.id %}'><button class="follow_btn">팔로우하기</button></a>
                <div>
                    <label for="value_low">{{user.user_point}} 모래포인트</label>
                    <!-- value값이 내 모래포인트에 따라서 반영되어야함. max기준도 레벨에 따라 바뀌어야함.(아직구현X) -->
                    <meter id="value_low" min="0" max="100" low="30" high="60" optimum="90" value="10"></meter>
                    {% if host.user_level == 0 %}
                    <meter id="value_low" min="0" max="2000" low="500" high="1000" optimum="1500" value="{{my_sand_sum.amount__sum}}"></meter>
                    {% elif host.user_level == 1 %}
                    <meter id="value_low" min="2000" max="7000" low="4000" high="4000" optimum="5500" value="{{my_sand_sum.amount__sum}}"></meter>
                    {% else %}
                    <meter id="value_low" min="7000" max="18000" low="10000" high="13000" optimum="16000" value="{{my_sand_sum.amount__sum}}"></meter>
                    {% endif %}
                </div>
                <div class="proflie_text">    
                {% if request.user.user_profile_content %}    
                    {{request.user.user_profile_content}}
                {% else %}
                    <p>
                        아직 자기소개가 없습니다.
                    </p>
                {% endif %}
                </div>
                <div class="follow_area">
                    <a href=""><button class="follow_btn">팔로잉 {{ host_following|length }}</button></a>
                    <a href=""><button class="follow_btn">팔로워 {{ host_follower|length }}</button></a>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="btn_list_area">
            <button class="list_btn" id="log_folder_btn">삽질 기록 모음 > </button>
            <button class="list_btn" id="question_folder_btn">질문 모음 > </button>
            <button class="list_btn">내가 남긴 답변 목록 > </button>
            <a href = '{% url "users:account_detail" host.id %}'><button class="list_btn">계정 관리 > </button></a>
        </div>
        <div class="sand_pour_area"></div>
    </div>
        <div class="second_container my_container">
            <div class="category_tab">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!-- style적용하려면 button태그로 바꿔야하는데 아직 작동되는지 확인못해서 안바꿈 -->
                    <!-- 작동되면 button태그로도되는지 확인하고 버튼마다 언어, 프레임웤, 해결 글자넣기 -->
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            </div>
            <div class="folder_area">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- 유저의 폴더 종류 구분 - 이렇게하는게 맞겠지..? -->
                        {% if forloop.counter == 1 %}
                        <div class="item active">
                        {% else %}
                        <div class="item">
                        {% endif %}
                            <!-- 각 폴더 종류별로 존재하는 폴더 나열 -->
                            {% for folder in framework_folders %}
                            <div class="folder_space">
                                <button type="button" class="{{folder}}">
                                    <i class="far fa-folder folder_icon fa-2x"></i>  
                                    <span class="folder_name">{{folder}}</span>\
                                </button>
                            </div>
                            {% endfor %}
                            {% for folder in solve_folders %}
                            <div class="folder_space">
                                <button type="button" class="{{folder}}">
                                    <i class="far fa-folder folder_icon fa-2x"></i>  
                                    <span class="folder_name">{{folder}}</span>\
                                </button>
                            </div>
                            {% endfor %}
                            {% for folder in language_folders %}
                            <div class="folder_space">
                                <button type="button" class="{{folder}}">
                                    <i class="far fa-folder folder_icon fa-2x"></i>  
                                    <div class="folder_name"> {{folder}} </div>
                                </button>
                            </div>
                            {% endfor %}
                      <div class="carousel-caption">
                        <h3>{{folder_kind}}</h3>
                      </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last_log_box">
            <!-- 질문버튼 눌렀을 때도 그에 해당하는 디렉토리들이 다르게 떠야함 -->
            <!-- 질문버튼 누르면 최근 질문 기록도 같이 뜸 -->
            {% for question in my_recent_questions %}
                <div class="last_question_list">
                    {{question.title}}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="third_container my_container"></div>
{% endblock %}