{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_email.css' %}">
</head>
<body>
    <div class="container">
        <div class="form_box">
{% autoescape off %}

<h4>
    {{user.username}}님, 아래 링크를 클릭하여  비밀번호를 변경해주세요😅
</h4>

http://13.124.23.247:8000/{% url 'users:password_reset_email' uidb64=uid token=token %}

{% endautoescape %}
        </div>
    </div>
</body>
</html>