{% extends 'base.html' %}

{% load static %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
{% endblock %}

{% block content %}

<body>
    <div class="container">

        <div class="form_box">
            <h1>비밀번호 찾기</h1>
            <h3>
                비밀번호를 잊으셨나요?
            </h3>

            <h5>
                가입했던 이메일을 입력해주세요. 비밀번호를 변경할 수 있는 링크를 보내드립니다.
            </h5>

            <form method="POST">
                {% csrf_token %}
                <div class="flex_row">
                    <div class="input_email">
                        <span>이메일</span>
                        <input class='email' name="email" type="email" value="" placeholder="이메일 주소를 입력하세요">
                    </div>
                    <div class="input_id">
                        <span>아이디</span>
                        <input class="id" name="username" value="" placeholder="아이디를 입력하세요">
                    </div>
                </div>
                <input class="submit" type="submit" value="전송">
            </form>
        </div>

    </div>
</body>
{% endblock %}
