{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
    <div class="container">
        <div class="form_box">
            <h3>비밀번호 변경하기</h3>
            <form method="POST" action="{% url 'users:password_reset_form' user.id %}">
                {% csrf_token %}
                    New Password
                    <input class="login_input" name="password1" type="password">
            
                    Confirm Password
                    <input class="login_input" name="password2" type="password">
                <button type="submit"> 비밀번호 변경하기 </button>
            </form>
        </div>
    </div>
</body>
</html>