{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
    <div class="container">

        <div class="form_box">
            <h1>비밀번호 변경하기</h1>
            <h3>
                비밀번호 변경 메일을 받으셨나요?
            </h3>

            <h5>
                새로운 비밀번호를 입력해주시면 비밀번호가 변경됩니다.
            </h5>

            <form method="POST">
                {% csrf_token %}
                <div class="flex_row">
                    <div class="input_email">
                        <span>비밀번호</span>
                        <input class='email' name="password1" type="password" value="" placeholder="">
                    </div>
                    <div class="input_id">
                        <span>비밀번호 확인</span>
                        <input class="id" name="password2" type="password" value="" placeholder="">
                    </div>
                </div>
                <input class="submit" type="submit" value="변경하기">
            </form>
        </div>

    </div>
</body>
</html>