{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>

<body>
    <div class="container">
        <div class="form_box">
            <h1>📧</h1>
            <h3>
                비밀번호 변경 링크를 받을 이메일 주소를 입력해주세요
            </h3>

            <form method="POST">
                {% csrf_token %}
                <input class='email' name="email" type="email" value="" placeholder="이메일 주소를 입력하세요">
                <input class="email" name="username" value="" placeholder="아이디를 입력하세요">
                <input class="submit" type="submit" value="Send me instructions!">
            </form>
        </div>
    </div>
</body>

</html>