{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
</head>
<body>
    <div class="container">
        <div class="form_container">
            <div class="signup_top">
                <a href="" class="signup_logo">
                    <img class="signup_logo" src="{% static 'users/login_logo.png' %}">
                </a>
                <div class="signup_question">
                    <h4>이미 회원이신가요?</h4>
                    <a href="{% url 'users:login' %}">로그인 하기</a>
                </div>
            </div>

            <div class="signup_middle">
                <form method="POST" action="{% url 'users:signup' %}">
                    {% csrf_token %}
                        <div class="signup_input">
                            <span class="input_label">아이디</span>
                            {{ signup_form.username }}
                        </div>
                        <div class="signup_input">
                            <span class="input_label">이메일</span>
                            {{ signup_form.email }}
                        </div>
                        <div class="signup_input">
                            <span class="input_label">닉네임</span>
                            {{ signup_form.user_nickname }}
                        </div>
                        <div class="signup_input">
                            <span class="input_label">비밀번호</span>
                            {{ signup_form.password1 }}
                        </div>
                        <div class="signup_input">
                            <span class="input_label">비밀번호 확인</span>
                            {{ signup_form.password2 }}
                        </div>
                        {% if signup_form.errors %}
                            <span>{{signup_form.errors}}</span>
                        {% endif %}
                    <button type="submit" class="signup_btn">회원가입하기</button>
                </form>
            </div>
            <div class="signup_bottom">
                <!-- sns회원가입자리 -->
            </div>
        </div>
    </div>
</body>
</html>