{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% block content %}
<body>

    <div class="container">
        <div class="form_container">
            <div class="signup_text">
                회원가입
            </div>

            <a href="{% url 'main' %}" class="signup_logo">삽질모음.TXT</a>

            <div class="signup_middle">
                <form action="" method="post" autocomplete="off" required>
                    {% csrf_token %}
                    
                    <div class="signup_container">
                        <div class="input_container">
                            {{ signup_form.username }}
                        </div>
                        <div class="input_container">
                            {{ signup_form.email }}
                        </div>
                        <div class="input_container">
                            {{ signup_form.user_nickname }}
                        </div>
                        <div class="input_password_container">
                            <div class="password1">
                                {{ signup_form.password1 }}
                            </div>
                            <div class="password2">
                                {{ signup_form.password2 }}
                            </div>
                        </div>
                        <button class="login_btn" type="submit">회원가입하기</button>
                    </div>

                    <div class="error_message">
                        {% if signup_form.username.errors %}
                            <span>{{signup_form.username.errors}}</span>
                        {% endif %}
                        {% if signup_form.email.errors %}
                            <span>{{signup_form.email.errors}}</span>
                        {% endif %}
                        {% if signup_form.user_nickname.errors %}
                            <span>{{signup_form.user_nickname.errors}}</span>
                        {% endif %}
                        {% if signup_form.password2.errors %}
                            <span>{{signup_form.password2.errors}}</span>
                        {% endif %}
                    </div>

                </form>
            </div>

            <div class="signup_margin">
                
                <div class="signup_question">
                    <h4>이미 회원이신가요?</h4>
                    <a href="{% url 'users:login' %}">
                        로그인하기
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
{% endblock %}
