<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block script %}
    {% endblock %}

</head>
<body>
    <form method="POST" action="{% url 'posts:search' %}">
        {%csrf_token%}
        <input type="search" placeholder="검색어를 입력하세요." name="post" value="{{post}}">
        <button type="submit">Search</button>
        <br/>
        <p>{{form.field}}
        {{form.field2}}</p>
        <!--<p>{{form.field3}}</p> 해결여부가 나오는 dropdown임 해당 라인 choice로 갈지 고민중.-->
    </form>
    
    {% block content%}
    {% endblock %}    

</body>
</html>
