<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../static/js/ckeditor5/build/ckeditor.js"></script>
    <link rel="stylesheet" href="./post_create.css" />
    <!-- highlight code  -->
    <!-- <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script type="application/javascript">
        function $init() {return true;}
    </script> -->
    <!-- highlight download package -->
    <link rel="stylesheet" href="{ static }../../../highlight/styles/base16/framer.min.css">
    <link href="ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <!-- ckeditor codeblock -->
    <link href="ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="../../../highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <h1>삽질기록 남기기</h1>
    <br>
    <div class="container">
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ form.media }}
            {{ form.title }}
            <span>
                {{ form.language }}
                <label>운영체제{{ form.os }}</label>
                {{ form.problem_solving }}
                {{ form.error_message }}
                {{ form.desc }}
                태그:{{ form.tag }}
            </span>
            <input type="submit" value="기록 남기기"/>
        </form>
    </div>
</body>
</html>